@import url(d:\P-R-O-G-R-A-M-M-I-N-G\Portfolio\Benhome\project\css\fonts.css);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  min-width: 1110px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -200px;
}

.header .header__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 60px 0;
  background-color: transparent;
}

.header .header__logo {
  width: 140px;
  min-height: 40px;
  margin-right: 200px;
  cursor: pointer;
}

.header .header__logo-architecture {
  display: block;
  margin-top: 2px;
  margin-left: 42px;
}

.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__menu-item:not(:last-child) {
  margin-right: 50px;
}

.header .header__menu-item-link {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.header .header__menu-item-link:hover {
  color: #F27935;
}

.header .header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header .header__call-text {
  margin-right: 12px;
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 18px;
  color: #F27935;
}

.header .header__call-link {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.header .header__center {
  padding-top: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}

.header .header__title {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 90px;
  color: #fff;
  margin-left: 250px;
  margin-bottom: 170px;
}

.header .header__title-start {
  color: #F27935;
}

.header .header__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 60px 86px;
}

.header .header__play-btn {
  width: 110px;
  height: 110px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-position: 49px center;
  cursor: pointer;
}

.header .header__play-btn:hover {
  opacity: .8;
}

.header .header__promo-text {
  position: absolute;
  bottom: 86px;
  right: 60px;
  max-width: 380px;
  min-height: 84px;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  line-height: 140%;
}

.section__about {
  height: 500px;
}
/*# sourceMappingURL=index.css.map */