.services .services__list-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -200px;
}

.header .header__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 60px 0;
  background-color: transparent;
}

.header .header__logo {
  width: 140px;
  min-height: 40px;
  margin-right: 200px;
  cursor: pointer;
}

.header .header__logo-architecture {
  display: block;
  margin-top: 2px;
  margin-left: 42px;
}

.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__menu-item:not(:last-child) {
  margin-right: 50px;
}

.header .header__menu-item-link {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.header .header__menu-item-link:hover {
  color: #f27935;
}

.header .header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header .header__call-text {
  margin-right: 12px;
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 18px;
  color: #f27935;
}

.header .header__call-link {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.header .header__center {
  padding-top: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}

.header .header__title {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 90px;
  color: #fff;
  margin-left: 250px;
  margin-bottom: 170px;
}

.header .header__title-start {
  color: #f27935;
}

.header .header__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 60px 86px;
}

.header .header__play-btn {
  width: 110px;
  height: 110px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-position: 49px center;
  cursor: pointer;
}

.header .header__play-btn:hover {
  opacity: .8;
}

.header .header__promo-text {
  position: absolute;
  bottom: 86px;
  right: 60px;
  max-width: 380px;
  min-height: 84px;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  line-height: 140%;
}

.about .about__upper {
  padding-top: 125px;
  border-bottom: 1px solid #000;
}

.about .about__upper-title {
  font-family: 'SF Pro Display';
  font-weight: 700;
  font-size: 25px;
  color: #000;
}

.about .about__central {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about .about__central-text {
  width: 396px;
  height: 105px;
  margin-top: 470px;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 15px;
  color: #000;
  line-height: 140%;
  margin-left: 180px;
}

.about .about__central-text:hover {
  color: #f27935;
  cursor: pointer;
}

.about .about__central-img {
  position: relative;
  left: 150px;
  width: 875px;
  height: 525px;
  background-image: url(../images/exterior-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 155px;
}

.about .about__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding-bottom: 200px;
}

.about .about__lower-title-container {
  padding-top: 155px;
}

.about .about__lower-title {
  text-align: right;
  font-family: 'SF Pro Display';
  font-weight: 700;
  font-size: 25px;
  color: #000;
}

.about .about__lower-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about__lower-img {
  width: 555px;
  height: 522px;
  background-image: url(../images/exterior-2.jpg);
  background-position-y: -150px;
  background-size: cover;
  background-repeat: no-repeat;
}

.about .about__lower-text-container {
  border-top: 1px solid #000;
  padding-left: 150px;
  padding-top: 340px;
  position: absolute;
  right: 0;
  width: 42.1%;
}

.about .about__lower-text {
  width: 405px;
  min-height: 63px;
  text-align: right;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 15px;
  color: #000;
  line-height: 140%;
}

.about .about__lower-text:hover {
  color: #f27935;
  cursor: pointer;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f9f9;
  padding-bottom: 165px;
}

.services .services__left {
  width: 50%;
  padding-top: 170px;
}

.services .services__title {
  max-width: 530px;
  border-bottom: 1px solid #000;
  text-align: right;
  font-family: 'SF Pro Display';
  font-weight: 700;
  font-size: 25px;
  color: #000;
  line-height: 22px;
}

.services .services__right {
  width: 50%;
}

.services .services__list {
  padding-top: 170px;
}

.services .services__list-item {
  max-width: 555px;
}

.services .services__list-item-upper {
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 7px;
}

.services .services__list-item-title {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 15px;
  color: #000;
}

.services .services__list-item-btn {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #000;
  background-color: transparent;
}

.services .services__list-item-btn:hover {
  background-color: #f27935;
  border: none;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.services .services__list-item-btn:hover:after {
  content: url(/images/white-up-arrow.png);
  position: absolute;
  left: 9px;
  top: 2px;
}

.services .services__list-item-btn-down-arrow {
  background-image: url(/images/black-down-arrow.svg);
  background-position: center center;
  width: 7px;
  height: 7px;
}

.services .services__list-item-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px 0 40px;
}

.services .services__list-item-link {
  margin-top: auto;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 15px;
  color: #000;
  color: #f27935;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.services .services__list-item-link:after {
  content: url(/images/orange-arrow.png);
  padding-left: 8px;
}

.services .services__list-item-link:hover {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.services .services__list-item-text {
  width: 380px;
  text-align: right;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 15px;
  color: #000;
  line-height: 140%;
}

.projects .projects__upper {
  padding-top: 220px;
}

.projects .projects__title {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 57px;
  color: #000;
  line-height: 60px;
}

.projects .projects__lower {
  padding-top: 90px;
}

.projects .swiper-container {
  margin-bottom: 200px;
}

.projects .swiper-slide {
  width: 600px;
  height: 566px;
  background-color: #fff;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .swiper-slide__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 560px;
  border-bottom: 1px solid #000;
  margin-left: auto;
  padding-top: 50px;
  padding-right: 30px;
}

.projects .swiper-slide__title {
  font-family: 'SF Pro Display';
  font-weight: 700;
  font-size: 25px;
  color: #000;
  line-height: 20px;
  width: 150px;
  margin-right: 280px;
}

.projects .swiper-slide__title::first-line {
  line-height: 32px;
}

.projects .swiper-slide__category {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 13px;
  color: #f27935;
  line-height: 32px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.projects .swiper-slide__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 60px 40px 50px;
}

.projects .swiper-slide__link-btn {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #f27935;
  background-image: url(/images/white-right-arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 250px;
}

.projects .swiper-slide__text {
  width: 330px;
  text-align: center;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 15px;
  color: #000;
  line-height: 21px;
}
/*# sourceMappingURL=index.css.map */