$accent-color: #f27935;

$primary-font-color: #000;
$secondary-font-color: #fff;

$default-font-size: 16px;

@mixin flex($jcc: start, $ai: normal, $fld: row) {
  display: flex;
  justify-content: $jcc;
  align-items: $ai;
  flex-direction: $fld;
}

@mixin font($weight, $size: 1rem, $color: #000) {
  font: {
    family: 'SF Pro Display';
    weight: $weight;
    size: $size;
  }

  color: $color;
}

%centering-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  box-sizing: border-box;
  font-size: $default-font-size;

  // overflow-x: hidden;
}

body {
  box-sizing: inherit;
  overflow-x: hidden;
  // display: flex;
  // flex-direction: column;
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

// .wide-container {
//   min-width: 1110px;
//   margin: 0 auto;
// }

.header {
  background-image: url(../images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -200px; // main -200, main2 -130

  .header__upper {
    @include flex(start, center);
    padding: 30px 60px 0;
    background-color: transparent;
  }

  .header__logo {
    width: 140px;
    min-height: 40px;
    margin-right: 200px;
    cursor: pointer;
  }

  .header__logo-architecture {
    display: block;
    margin-top: 2px;
    margin-left: 42px;
  }

  .header__menu {
    display: flex;
  }

  .header__menu-item:not(:last-child) {
    margin-right: 50px;
  }

  .header__menu-item-link {
    @include font(600, 14px, #fff);
  }

  .header__menu-item-link:hover {
    color: $accent-color;
  }

  .header__call {
    display: flex;
    margin-left: auto;
  }

  .header__call-text {
    margin-right: 12px;
    @include font(600, 18px, $accent-color);
  }

  .header__call-link {
    @include font(600, 18px, #fff);
  }

  .header__center {
    padding-top: 230px; //370
    display: flex;
    justify-content: center;
    background-color: transparent;
  }

  .header__title {
    @include font(600, 90px, #fff);

    // margin-top: -140px;
    margin-left: 250px;
    margin-bottom: 170px;
  }

  .header__title-start {
    color: $accent-color;
  }

  .header__lower {
    display: flex;
    justify-content: center;
    padding: 0 60px 86px;
  }

  .header__play-btn {
    width: 110px;
    height: 110px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 49px center;
    cursor: pointer;
  }

  .header__play-btn:hover {
    opacity: .8;
  }

  .header__promo-text {
    position: absolute;
    bottom: 86px;
    right: 60px;
    max-width: 380px;
    min-height: 84px;
    @include font(400, 15px, #fff);
    line-height: 140%;
  }

}

.about {
  //   height: 500px;
  //   // position: static;
  //   // top: 0;
  //   // left: 0;

  .about__upper {
    padding-top: 125px;
    border-bottom: 1px solid #000;
  }

  .about__upper-title {
    @include font(700, 25px);
  }

  .about__central {
    // display: flex;
    // justify-content: center;

    @include flex(center);
  }

  //   .about__central-container {
  //     display: flex;
  //     padding-bottom: 105px;

  //     position: relative;
  //   }

  .about__central-text {
    width: 396px;
    height: 105px;
    margin-top: 470px;
    @include font(400, 15px);
    line-height: 140%;

    // margin-right: 200px;

    margin-left: 180px;

  }

  .about__central-text:hover {
    color: $accent-color;
    cursor: pointer;
  }

  .about__central-img {
    position: relative;
    left: 150px;

    width: 875px;
    height: 525px;

    background-image: url(../images/exterior-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    margin-top: 155px;


  }

  .about__lower {
    @include flex(center);

    position: relative;

    padding-bottom: 200px;
  }

  .about__lower-title-container {
    padding-top: 155px;
  }

  .about__lower-title {
    text-align: right;
    @include font(700, 25px);
  }

  .about__lower-container {
    display: flex;

    // position: relative;
  }

  .about__lower-img {
    width: 555px;
    height: 522px;

    background-image: url(../images/exterior-2.jpg);
    background-position-y: -150px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .about__lower-text-container {
    border-top: 1px solid #000;
    padding-left: 150px;
    padding-top: 340px;

    position: absolute;
    right: 0;

    width: 42.1%;

    // position: relative;
    // left: 200px;

  }

  .about__lower-text {
    width: 405px;
    min-height: 63px;
    text-align: right;
    @include font(400, 15px);
    line-height: 140%;
  }

  .about__lower-text:hover {
    color: $accent-color;
    cursor: pointer;
  }
}

.services {
  display: flex;
  background-color: #f9f9f9;
  padding-bottom: 165px;

  .services__left {
    width: 50%;
    padding-top: 170px;
  }

  .services__title {
    max-width: 530px;
    border-bottom: 1px solid #000;
    text-align: right;
    @include font(700, 25px);
    line-height: 22px;
  }

  .services__right {
    width: 50%;
  }

  .services__list {
    padding-top: 170px; // ? мб заменить на 1 значение
  }

  .services__list-item {
    max-width: 555px;
  }

  .services__list-item-upper {
    border-bottom: 1px solid #000;
    @include flex(space-between, center);
    padding-bottom: 7px;

  }

  .services__list-item-title {
    @include font(600, 15px);
  }

  .services__list-item-btn {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #000;
    background-color: transparent;

    @extend %centering-flex-container;

  }

  .services__list-item-btn:hover {
    background-color: $accent-color;
    border: none;

    transition: .2s all ease;
  }

  .services__list-item-btn:hover:after {
    content: url(/images/white-up-arrow.png);
    position: absolute;
    left: 9px;
    top: 2px;
  }


  .services__list-item-btn-down-arrow {
    background-image: url(/images/black-down-arrow.svg);
    // background-size: contain;
    background-position: center center;

    width: 7px;
    height: 7px;
  }

  // .services__list-item-btn-down-arrow:hover {
  //   background-image: none;
  //   // transition: .2s all ease;
  // }

  .services__list-item-lower {

    @include flex(space-between);
    padding: 40px 0 40px;
  }

  .services__list-item-link {
    margin-top: auto;
    @include font(400, 15px);
    color: $accent-color;
    transform: translateX(0px);
    transition: .3s all ease;
  }

  .services__list-item-link:after {
    content: url(/images/orange-arrow.png);
    padding-left: 8px;
  }

  .services__list-item-link:hover {
    transform: translateX(4px);
    transition: .3s all ease;
  }

  .services__list-item-text {
    width: 380px;
    text-align: right;
    @include font(400, 15px);
    line-height: 140%;
  }
}

.projects {

  .projects__upper {
    padding-top: 220px;
  }

  .projects__title {
    @include font(600, 57px);
    line-height: 60px;
  }

  .projects__lower {
    padding-top: 90px;
  }

  .swiper-container {
    margin-bottom: 200px;
  }

  .swiper-slide {
    width: 600px; // 600
    height: 566px; // 566
    background-color: #fff;
    border: 1px solid #000;
    
    display: flex;
    flex-direction: column;
    // align-items: end;
  }

  .swiper-slide__upper {
    display: flex;
    max-width: 560px;

    border-bottom: 1px solid #000;
    // flex-direction: row;
    // align-self: end;
    margin-left: auto;
    padding-top: 50px;
    padding-right: 30px;
  }

  .swiper-slide__title {
    @include font(700, 25px);
    line-height: 20px;
    width: 150px;
    // letter-spacing: 0.03em;
    margin-right: 280px;
  }

  .swiper-slide__title::first-line {
    line-height: 32px;
  }

  .swiper-slide__category {
    @include font(600, 13px, $accent-color);
    line-height: 32px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .swiper-slide__lower {
    display: flex;
    @include flex(space-between);
    padding: 60px 40px 50px;
    
  }

  .swiper-slide__link-btn {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: $accent-color;
    background-image: url(/images/white-right-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 250px;

   

  }

  .swiper-slide__text {
    width: 330px;
    text-align: center;
    @include font(400, 15px);
    line-height: 21px;

  }

}