/* stylelint-disable declaration-colon-newline-after */

.header__upper {
  @include flex(start, center);

  padding: 30px 60px 0;
  background-color: transparent;

  @media screen and (max-width: 1350px) {
    justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    @include pl-pr(40px);
  }

  @media screen and (max-width: 450px) {
    @include pl-pr(20px);
  }
}

.header__mobile-btn--open {
  display: none;
  cursor: pointer;

  @media screen and (max-width: 992px) {
    position: absolute;
    top: 20px;
    right: 40px;
    display: block;
    width: 48px;
    height: 48px;
    visibility: visible;
    background: url('../../images/common.blocks/header-upper/burger-white.png?quality=70')
      no-repeat;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    transition: 0.2s all ease;
  }

  @media screen and (max-width: 450px) {
    right: 20px;
  }
}

.header__mobile-btn--inactive {
  visibility: hidden;
  transition: 0.2s all ease;
}

.header__logo {
  width: 140px;
  min-height: 40px;
  margin-right: 200px;
  cursor: pointer;

  @media screen and (max-width: 1350px) {
    margin-right: auto;
  }

  @media screen and (max-width: 992px) {
    margin-right: 0;
  }
}

.header__logo-img {
  width: 141px;
  height: 40px;
}

.header__logo-architecture {
  display: block;
  margin-top: 2px;
  margin-left: 42px;
}

@media screen and (max-width: 992px) {
  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    background-color: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }
}

.header__nav--active {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease;
}

.header__mobile-btn--close {
  display: none;
  cursor: pointer;

  @media screen and (max-width: 992px) {
    position: absolute;
    top: 20px;
    right: 40px;
    display: block;
    width: 48px;
    height: 48px;
    background: url('../../images/common.blocks/header-upper/close.png?quality=70')
      no-repeat;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
  }

  @media screen and (max-width: 450px) {
    right: 20px;
  }
}

.header__menu {
  display: flex;

  @media screen and (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    width: 150px;
  }
}

.header__menu-item {
  text-transform: uppercase;
}

.header__menu-item:not(:last-child) {
  margin-right: 50px;

  @media screen and (max-width: 1350px) {
    margin-right: 25px;
  }

  @media screen and (max-width: 992px) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.header__menu-item-link {
  @include font(600, 0.9rem, #000);

  font-family: inherit;
  transition: 0.2s color ease;

  @media screen and (max-width: 992px) {
    font-size: 1.4rem;
    color: $accent-color !important;
  }

  &:hover {
    color: $accent-color;
    transition: 0.2s color ease;
  }
}

.header__call {
  display: flex;
  margin-left: auto;

  @media screen and (max-width: 992px) {
    margin-right: auto;
    margin-left: none;
  }

  @media screen and (max-width: 700px) {
    display: none;
  }
}

.header__call-text {
  @include font(600, 18px, $accent-color);

  margin-right: 12px;
  text-transform: uppercase;
}

.header__call-link {
  @include font(600, 18px, #000);
}
