:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: "SF Pro Display", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  line-height: 80%;
}

a {
  text-decoration: none;
  outline: none;
  font-family: "SF Pro Display", sans-serif;
}

::-moz-selection {
  background-color: #f8b995;
}

::selection {
  background-color: #f8b995;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.btn-to-top {
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  border-radius: 50%;
  border: 7px solid #ece9e9;
  opacity: 0.9;
  background: url("/images/common-blocks/btn-to-top/arrow.png") no-repeat;
  background-position: center center;
  cursor: pointer;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  visibility: hidden;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

@media screen and (max-width: 550px) {
  .btn-to-top {
    display: none;
  }
}

.btn-to-top--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.header__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 60px 0;
  background-color: transparent;
}

@media screen and (max-width: 1350px) {
  .header__upper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .header__upper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 450px) {
  .header__upper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__mobile-btn--open {
  display: none;
}

@media screen and (max-width: 992px) {
  .header__mobile-btn--open {
    background: url("/images/common-blocks/header-upper/burger-white.png") no-repeat;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
    visibility: visible;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
  }
}

@media screen and (max-width: 450px) {
  .header__mobile-btn--open {
    right: 20px;
  }
}

.header__mobile-btn--inactive {
  visibility: hidden;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header__logo {
  width: 140px;
  min-height: 40px;
  margin-right: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .header__logo {
    margin-right: auto;
  }
}

@media screen and (max-width: 992px) {
  .header__logo {
    margin-right: 0;
  }
}

.header__logo-architecture {
  display: block;
  margin-top: 2px;
  margin-left: 42px;
}

@media screen and (max-width: 992px) {
  .header__nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    right: -250px;
    padding: 40px;
    height: 100vh;
    padding-top: 100px;
    z-index: 10;
  }
}

.header__nav--active {
  display: block;
  -webkit-animation: slide-in-mobile-menu 1s forwards ease;
          animation: slide-in-mobile-menu 1s forwards ease;
}

@-webkit-keyframes slide-in-mobile-menu {
  0% {
    right: -250px;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-in-mobile-menu {
  0% {
    right: -250px;
  }
  100% {
    right: 0;
  }
}

.header__nav--inactive {
  -webkit-animation: slide-out-mobile-menu 1s forwards ease;
          animation: slide-out-mobile-menu 1s forwards ease;
}

@-webkit-keyframes slide-out-mobile-menu {
  0% {
    right: 0;
  }
  100% {
    right: -250px;
  }
}

@keyframes slide-out-mobile-menu {
  0% {
    right: 0;
  }
  100% {
    right: -250px;
  }
}

.header__mobile-btn--close {
  display: none;
}

@media screen and (max-width: 992px) {
  .header__mobile-btn--close {
    background: url("/images/common-blocks/header-upper/close.png") no-repeat;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__menu-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1350px) {
  .header__menu-item:not(:last-child) {
    margin-right: 25px;
  }
}

@media screen and (max-width: 992px) {
  .header__menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.header__menu-item-link {
  font-weight: 600;
  font-size: 14px;
  color: #000;
  font-family: "SF Pro Display";
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

@media screen and (max-width: 992px) {
  .header__menu-item-link {
    color: #f27935 !important;
  }
}

.header__menu-item-link:hover {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 992px) {
  .header__call {
    margin-left: none;
    margin-right: auto;
  }
}

@media screen and (max-width: 700px) {
  .header__call {
    display: none;
  }
}

.header__call-text {
  margin-right: 12px;
  font-weight: 600;
  font-size: 18px;
  color: #f27935;
}

.header__call-link {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__link {
  width: 20px;
  height: 20px;
  display: block;
}

.socials__link:hover {
  opacity: .7;
}

.socials__item:not(:last-child) {
  margin-right: 30px;
}

.socials__link--first {
  background: url("/images/socials/fb.png") no-repeat;
}

.socials__link--second {
  background: url("/images/socials/tw.png") no-repeat 0 2px;
}

.socials__link--third {
  background: url("/images/socials/inst.png") no-repeat;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 120px 60px 110px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 70px;
    padding-bottom: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer > *:not(:last-child) {
  margin-right: 40px;
  margin-bottom: 40px;
}

.footer__logo {
  display: block;
}

.footer__rights-span {
  margin-top: 10px;
  display: block;
}

.footer__rights {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__menu-link {
  font-weight: normal;
  font-size: 14px;
  color: #000;
  line-height: 140%;
  font-family: inherit;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.footer__menu-link:hover {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

@media screen and (max-width: 450px) {
  .footer__languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__languages-item {
  text-transform: uppercase;
  cursor: pointer;
}

.footer__languages-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
  .footer__languages-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.footer__languages-item:first-child {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.header .header__central {
  padding-top: 210px;
}

@media screen and (max-width: 1024px) {
  .header .header__central {
    padding-top: 100px;
  }
}

@media screen and (max-width: 450px) {
  .header .header__central {
    padding-top: 50px;
  }
}

.header .header__title {
  margin-left: 410px;
  font-weight: 700;
  font-size: 3.5rem;
  color: #000;
  line-height: 80%;
}

@media screen and (max-width: 1024px) {
  .header .header__title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .header .header__title {
    margin-left: 80px;
  }
}

@media screen and (max-width: 450px) {
  .header .header__title {
    font-size: 1.5rem;
  }
}

.header .header__central-decor-el {
  width: 100%;
  height: 75px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 450px) {
  .header .header__central-decor-el {
    height: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .header .header__lower-map {
    height: 400px;
  }
}

.contacts {
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 1.7s all ease;
  transition: 1.7s all ease;
  padding-bottom: 200px;
}

.contacts--active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1.7s all ease;
  transition: 1.7s all ease;
}

@media screen and (max-width: 1024px) {
  .contacts {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 450px) {
  .contacts {
    padding-bottom: 70px;
  }
}

.contacts .contacts__upper {
  padding-top: 210px;
}

@media screen and (max-width: 1024px) {
  .contacts .contacts__upper {
    padding-top: 100px;
  }
}

@media screen and (max-width: 450px) {
  .contacts .contacts__upper {
    padding-top: 50px;
  }
}

.contacts .contacts__title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
  line-height: 80%;
  text-transform: uppercase;
  width: 600px;
  border-bottom: 1px solid #000;
  text-align: right;
}

@media screen and (max-width: 700px) {
  .contacts .contacts__title {
    width: 280px;
  }
}

@media screen and (max-width: 450px) {
  .contacts .contacts__title {
    font-size: 1.2rem;
  }
}

.contacts .contacts__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1250px) {
  .contacts .contacts__lower {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 450px) {
  .contacts .contacts__lower {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .contacts .contacts__lower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts .contacts__lower-left {
  width: 50%;
  padding-top: 130px;
}

@media screen and (max-width: 768px) {
  .contacts .contacts__lower-left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  .contacts .contacts__lower-left {
    padding-top: 60px;
  }
}

.contacts .contacts__lower-right {
  width: 50%;
  padding-top: 120px;
}

@media screen and (max-width: 768px) {
  .contacts .contacts__lower-right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
    padding-top: 60px;
  }
}

@media screen and (max-width: 450px) {
  .contacts .contacts__lower-right {
    padding-top: 40px;
  }
}

.contacts .contacts__tel {
  font-weight: 700;
  font-size: 2rem;
  color: #f27935;
  max-width: 300px;
  display: block;
  margin-bottom: 120px;
}

@media screen and (max-width: 768px) {
  .contacts .contacts__tel {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 450px) {
  .contacts .contacts__tel {
    margin-bottom: 40px;
    font-size: 1.5rem;
  }
}

.contacts .contacts__address {
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .contacts .contacts__address {
    margin-bottom: 35px;
  }
}

.contacts .contacts__address-span {
  color: #f27935;
}

.contacts .contacts__email-container {
  margin-bottom: 20px;
}

.contacts .contacts__email-text,
.contacts .contacts__email-link {
  font-family: inherit;
  font-weight: regular;
  font-size: 15px;
  color: #000;
  -webkit-transition: 0.1s color linear;
  transition: 0.1s color linear;
}

.contacts .contacts__email-link:hover {
  color: #f27935;
  -webkit-transition: 0.1s color linear;
  transition: 0.1s color linear;
}

.contacts .contacts__email-text {
  font-weight: bold;
}

.contacts .contacts__socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .contacts__socials-text {
  font-weight: 700;
  font-size: 15px;
  width: auto;
}

.contacts .contacts__socials-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .contacts__socials-link {
  margin-left: 15px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.contacts .contacts__socials-path {
  -webkit-transition: 0.1s all ease;
  transition: 0.1s all ease;
}

.contacts .contacts__socials-img:hover .contacts__socials-path {
  -webkit-transition: 0.1s all ease;
  transition: 0.1s all ease;
  fill: #f27935;
}

.contacts .contacts__text {
  font-weight: 700;
  font-size: 2.5rem;
  color: #000;
  line-height: 120%;
  margin-bottom: 60px;
}

@media screen and (max-width: 450px) {
  .contacts .contacts__text {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
}

.contacts .contacts__text-span {
  color: #f27935;
}

.contacts .contacts__input {
  font-family: inherit;
  letter-spacing: 0.05rem;
}

.contacts .contacts__input:not(.contacts__input--btn) {
  border: 1px solid #000;
  padding: 16px;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 15px;
  color: #000;
}

.contacts .contacts__input:not(.contacts__input--btn):focus::-webkit-input-placeholder {
  color: transparent;
}

.contacts .contacts__input:not(.contacts__input--btn):focus:-ms-input-placeholder {
  color: transparent;
}

.contacts .contacts__input:not(.contacts__input--btn):focus::-ms-input-placeholder {
  color: transparent;
}

.contacts .contacts__input:not(.contacts__input--btn):focus::placeholder {
  color: transparent;
}

.contacts .contacts__input--name,
.contacts .contacts__input--email {
  width: 260px;
  height: 50px;
  display: inline-block;
}

@media screen and (max-width: 1250px) {
  .contacts .contacts__input--name,
  .contacts .contacts__input--email {
    width: 100%;
  }
}

.contacts .contacts__input--name {
  margin-right: 30px;
}

.contacts .contacts__input--textarea {
  width: 100%;
  min-height: 175px;
  resize: none;
  display: block;
}

.contacts .contacts__input--btn {
  width: 230px;
  height: 50px;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  outline: 1px solid #f27935;
  background-color: #f27935;
  font-weight: 600;
  font-size: 13px;
  padding: 16px;
  color: #fff;
  letter-spacing: 0.1rem;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.contacts .contacts__input--btn:hover {
  color: #f27935;
  background-color: #fff;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.contacts .contacts__input--btn:active {
  color: #fff;
  background-color: #f27935;
}
/*# sourceMappingURL=contact.css.map */