/* stylelint-disable declaration-colon-newline-after */

@import '../../../node_modules/reset.css/reset.css';

@import '../../ancillary.styles/_fonts';
@import '../../ancillary.styles/_vars';
@import '../../ancillary.styles/_mixins';
@import '../../ancillary.styles/_global';

@import '../../common.blocks/btn-to-top/_btn-to-top';
@import '../../common.blocks/header-upper/_header-upper';
@import '../../common.blocks/services/_services';
@import '../../common.blocks/_brands';
@import '../../common.blocks/_socials';
@import '../../common.blocks/_footer';

.header {
  .header__menu-item-link,
  .header__call-link {
    color: #000;
  }

  .header__menu-item-link:hover {
    color: $accent-color;
  }

  .header__central {
    @include section-popup-onscroll;

    padding-top: 200px;

    @media screen and (max-width: 1024px) {
      padding-top: 100px;
    }

    @media screen and (max-width: 450px) {
      padding-top: 50px;
    }
  }

  .header__title {
    width: 550px;
    margin-left: 405px;
    font-size: 57px;
    font-weight: bold;
    line-height: 80%;
    text-transform: none;
    cursor: text;

    @media screen and (max-width: 1250px) {
      margin-left: 80px;
    }

    @media screen and (max-width: 1024px) {
      width: 350px;
      font-size: 2rem;
    }

    @media screen and (max-width: 700px) {
      margin-left: 50px;
    }

    @media screen and (max-width: 450px) {
      width: 250px;
      font-size: 1.5rem;
    }
  }

  .header__title-span {
    color: $accent-color;
  }

  .header__central-decor-el {
    width: 100%;
    height: 75px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);

    @media screen and (max-width: 450px) {
      height: 50px;
    }
  }

  .header__lower {
    @include section-popup-onscroll;

    width: 100%;
    min-height: 768px;
    background: url('../../images/pages/about/office-meeting.jpg?quality=70') center center
      no-repeat;
    background-size: cover;

    @media screen and (max-width: 1350px) {
      min-height: 500px;
    }

    @media screen and (max-width: 450px) {
      min-height: 410px;
    }
  }
}

.idea {
  @include section-popup-onscroll;

  padding-top: 190px;

  @media screen and (max-width: 1024px) {
    padding-top: 100px;
  }

  @media screen and (max-width: 450px) {
    padding-top: 50px;
  }

  .idea__upper {
    display: flex;
    padding-bottom: 250px;

    @media screen and (max-width: 1550px) {
      flex-direction: column;
    }

    @media screen and (max-width: 1024px) {
      padding-bottom: 100px;
    }

    @media screen and (max-width: 450px) {
      padding-bottom: 50px;
    }
  }

  .idea__upper-left {
    width: 50%;

    @media screen and (max-width: 1550px) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  .idea__title {
    @include font(700, 1.5rem);

    width: 600px;
    margin-bottom: 235px;
    text-align: right;
    border-bottom: 1px solid #000;

    @media screen and (max-width: 1550px) {
      margin-bottom: 100px;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 50px;
    }

    @media screen and (max-width: 700px) {
      width: 280px;
    }

    @media screen and (max-width: 450px) {
      font-size: 1.2rem;
    }
  }

  .idea__text {
    @include font(400, 1rem);

    max-width: 400px;
    margin-left: 410px;
    line-height: 140%;

    @media screen and (max-width: 1650px) {
      max-width: 300px;
    }

    @media screen and (max-width: 1550px) {
      align-self: center;
      max-width: 400px;
      margin-bottom: 50px;
      margin-left: 0;
    }

    @media screen and (max-width: 1024px) {
      margin-right: 40px;
      margin-left: 40px;
      text-align: center;
    }

    @media screen and (max-width: 600px) {
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  .idea__upper-right {
    position: relative;
    width: 50%;

    @media screen and (max-width: 1550px) {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    @media screen and (max-width: 1024px) {
      @include pl-pr(40px);
    }

    @media screen and (max-width: 600px) {
      @include pl-pr(20px);
    }
  }

  .idea__video {
    position: relative;
    width: 900px;
    height: 475px;
    object-fit: cover;
    cursor: pointer;

    @media screen and (max-width: 900px) {
      width: 100%;
      height: 350px;
    }

    @media screen and (max-width: 550px) {
      height: 250px;
      overflow-x: scroll;
    }
  }

  .idea__video-container {
    position: relative;
    max-width: 900px;
    max-height: 475px;
  }

  .idea__play-btn {
    @extend %centering-flex-container;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 110px;
    height: 110px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    transition: 0.2s all ease;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 700px) {
      width: 90px;
      height: 90px;
    }
  }

  .idea__video-container:hover .idea__play-btn {
    background-color: #fff;
  }

  .idea__play-btn--inactive {
    display: none;
  }

  .idea__poster-arrow {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background: url('../../images/general.imgs/video-arrow.png?quality=70') no-repeat;
  }

  .idea__lower {
    display: flex;
    padding-bottom: 190px;

    @media screen and (max-width: 1550px) {
      padding-bottom: 95px;
    }

    @media screen and (max-width: 670px) {
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;
    }
  }

  .idea__lower-left,
  .idea__lower-right {
    padding: 67px 0 84px 50px;

    @media screen and (max-width: 450px) {
      padding: 35px 0 42px 50px;
    }
  }

  .idea__lower-left {
    width: 50%;
    background-color: #f9f9f9;

    @media screen and (max-width: 670px) {
      width: 100%;
    }
  }

  .idea__lower-right {
    width: 50%;

    @media screen and (max-width: 670px) {
      width: 100%;
    }
  }

  .idea__lower-number {
    @include font(600, 7rem, $accent-color);

    margin-bottom: 55px;
    line-height: 100%;

    @media screen and (max-width: 450px) {
      margin-bottom: 30px;
      font-size: 6rem;
    }
  }

  .idea__lower-title {
    @include font(700, 1.5rem);

    margin-bottom: 80px;
    border-bottom: 1px solid #000;

    @media screen and (max-width: 450px) {
      margin-bottom: 40px;
      font-size: 1.2rem;
    }
  }

  .idea__lower-text {
    max-width: 330px;
    margin-left: auto;
    font-size: 15px;
    font-weight: normal;
    line-height: 140%;
    text-align: center;
  }
}

.team {
  @include section-popup-onscroll;

  .team__upper {
    padding-top: 200px;
    margin-bottom: 120px;

    @media screen and (max-width: 1024px) {
      padding-top: 125px;
      margin-bottom: 60px;
    }

    @media screen and (max-width: 450px) {
      padding-top: 60px;
    }
  }

  .team__title {
    @include font(700, 1.5rem);

    max-width: 600px;
    text-align: right;
    border-bottom: 1px solid #000;

    @media screen and (max-width: 700px) {
      width: 280px;
    }

    @media screen and (max-width: 450px) {
      font-size: 1.2rem;
    }
  }

  .team__lower {
    display: flex;

    @media screen and (max-width: 1550px) {
      flex-direction: column;
      align-items: space-evenly;
      background-color: #f9f9f9;
    }
  }

  .team__lower-wrapper--1,
  .team__lower-wrapper--2 {
    display: flex;
    width: 50%;

    @media screen and (max-width: 1550px) {
      width: auto;
    }

    @media screen and (max-width: 880px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  .team__lower-wrapper--1 {
    @media screen and (max-width: 1550px) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    @media screen and (max-width: 880px) {
      border-bottom: none;
    }
  }

  .team__person {
    position: relative;
    width: 50%;
    height: 555px;
    background-color: #f9f9f9;

    @media screen and (max-width: 880px) {
      width: 100%;
      border-right: none;
    }
  }

  .team__person--1,
  .team__person--3 {
    @media screen and (max-width: 1550px) {
      border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    @media screen and (max-width: 880px) {
      border-right: none;
    }
  }

  @media screen and (max-width: 880px) {
    .team__person:not(.team__person--4) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  .team__person-info {
    padding: 35px 45px 35px 35px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all ease;
  }

  .team__person-info--active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s all ease;
  }

  .team__person-title {
    @include font(700, 1.5rem, $accent-color);

    margin-bottom: 85px;
    line-height: 80%;
  }

  .team__person-text {
    @include font(400, 1rem);

    max-width: 320px;
    margin-bottom: 265px;
    margin-left: auto;
    line-height: 140%;
    text-align: center;

    @media screen and (max-width: 370px) {
      margin-bottom: 230px;
    }
  }

  .team__person-photo {
    opacity: 1;
    transition: 0.2s all ease;
  }

  .team__person-photo--inactive {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all ease;
  }

  .team__person-photo-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 480px;
    transform: translateX(-55%);

    @media screen and (max-width: 880px) {
      left: 55%;
      transform: translateX(-55%);
    }
  }
}
