// stylelint-disable declaration-colon-newline-after, value-list-comma-newline-after

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
    url('../../fonts/SFProDisplay-Bold.woff2') format('woff2'),
    url('../../fonts/SFProDisplay-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
    url('../../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
    url('../../fonts/SFProDisplay-Semibold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
    url('../../fonts/SFProDisplay-Regular.woff2') format('woff2'),
    url('../../fonts/SFProDisplay-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
