:root {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: $main-fonts; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  line-height: 80%;
}

a {
  text-decoration: none;
  // outline: none;
  font-family: $main-fonts, sans-serif;
}

button,
input[type="submit"] {
  cursor: pointer;
  text-transform: uppercase;
}

// button:focus {
//   outline: 2px solid black;
//   border-radius: 5px;
// }

::selection {
  background-color: lighten($accent-color, 20%);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
