:root {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: $main-fonts;
}

.body--inactive {
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 80%;
  text-transform: uppercase;
}

a {
  font-family: $main-fonts;
  text-decoration: none;
}

button,
input[type='submit'] {
  text-transform: uppercase;
  cursor: pointer;
}

::selection {
  background-color: lighten($accent-color, 20%);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
