@mixin flex($jcc: start, $ai: normal, $fld: row) {
  display: flex;
  flex-direction: $fld;
  align-items: $ai;
  justify-content: $jcc;
}

@mixin font($weight, $size: 1rem, $color: #000) {
  font: {
    weight: $weight;
    size: $size;
  }

  color: $color;
}

@mixin pl-pr($val) {
  padding: {
    right: $val;
    left: $val;
  }
}

@mixin section-popup-onscroll {
  opacity: 0;
  transition: 0.5s all ease;
  transform: translateY(200px);

  @media screen and (max-width: 450px) {
    opacity: 1;
    transition: none;
    transform: translateY(0);
  }

  &--active {
    opacity: 1;
    transition: 0.5s all ease;
    transform: translateY(0);
  }
}
