.header__upper {
  @include flex(start, center);
  padding: 30px 60px 0;
  background-color: transparent;
}

@media screen and (max-width: 1350px) {
  .header__upper {
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo {
  width: 140px;
  min-height: 40px;

  margin-right: 200px;

  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .header__logo {
   margin-right: auto;
  }
}

.header__logo-architecture {
  display: block;
  margin-top: 2px;
  margin-left: 42px;
}

.header__menu {
  display: flex;
}

.header__menu-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1350px) {
  .header__menu-item:not(:last-child) {
    margin-right: 25px;
  }
}

.header__menu-item-link {
  @include font(600, 14px, #fff);


  font-family: 'SF Pro Display';

  transition: .2s color ease;
}

.header__menu-item-link:hover {
  color: $accent-color;
  transition: .2s color ease;
}

.header__call {
  display: flex;
  margin-left: auto;
}

.header__call-text {
  margin-right: 12px;
  @include font(600, 18px, $accent-color);
}

.header__call-link {
  @include font(600, 18px, #fff);
}