.services {
  display: flex;
  background-color: #f9f9f9;
  padding-bottom: 165px;

  padding-top: 170px;

  @media screen and (max-width: 1550px) {
    & {
      padding-bottom: 82.5px;
      padding-top: 85px;
    }
  }

  .services__left {
    width: 50%;
    // padding-top: 170px;
  }

  .services__title {
    max-width: 530px;
    border-bottom: 1px solid #000;
    text-align: right;
    @include font(700, 25px);
    line-height: 22px;
  }

  @media screen and (max-width: 1550px) {
    .services__title {
      max-width: 410px;
    }
  }

  .services__right {
    width: 50%;
  }

  // .services__list {
    // padding-top: 170px; // ? мб заменить на 1 значение
  // }

  .services__list-item {
    max-width: 555px;

    margin-bottom: 6px;
  }

  .services__list-item-upper {
    border-bottom: 1px solid #000;
    @include flex(space-between, center);
    padding-bottom: 7px;

    cursor: pointer;

  }

  .services__list-item-title {
    @include font(600, 15px);
  }

  .services__list-item-btn {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #000;
    background-color: transparent;

    @extend %centering-flex-container;

    transition: .2s all ease;

  }

  .services__list-item-btn--active {
    background-color: $accent-color;
    border: none;
    transition: .2s all ease;
  }

  .services__list-item-btn:hover {
    background-color: $accent-color;
    border: none;

    transition: .2s all ease;
  }

  // .services__list-item-btn:hover:after {
  //   content: url(/images/white-up-arrow.png);
  //   position: absolute;
  //   left: 9px;
  //   top: 2px;
  // }

  .services__list-item-btn-down-arrow {
    background-image: url(/images/black-down-arrow.svg);
    // background-size: contain;
    background-position: center center;

    width: 7px;
    height: 7px;
  }

  .services__list-item-btn-down-arrow--active {
    background-image: url(/images/white-up-arrow.png);
  }

  // .services__list-item-btn-down-arrow:hover {
  //   background-image: none;
  //   // transition: .2s all ease;
  // }

  .services__list-item-lower {

    @include flex(space-between);
    visibility: hidden;
    opacity: 0;
    transition: .2s all linear;
    height: 0;
    z-index: -5;
  }

  .services__list-item-lower--active {
    padding: 40px 0 40px;
    opacity: 1;
    transition: .2s all linear;
    height: 100%;
    visibility: visible;
  }

  .services__list-item-link {
    margin-top: auto;
    @include font(400, 15px);
    color: $accent-color;
    transform: translateX(0px);
    transition: .3s all ease;
  }

  .services__list-item-link:after {
    content: url(/images/orange-arrow.png);
    padding-left: 8px;
  }

  .services__list-item-link:hover {
    transform: translateX(4px);
    transition: .3s all ease;
  }

  .services__list-item-text {
    width: 380px;
    text-align: right;
    @include font(400, 15px);
    line-height: 140%;
  }
}