.brands {
  @include section-popup-onscroll;
}

.brands__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 200px 0;

  @media screen and (max-width: 1250px) {
    @include pl-pr(40px);
  }

  @media screen and (max-width: 992px) {
    justify-content: space-evenly;
  }

  @media screen and (max-width: 470px) {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 992px) {
  .brands__list-item {
    margin: 20px;
  }
}

@for $item from 1 through 4 {
  .brands__item--#{$item} {
    background: url("../../images/common.blocks/brands/pic-#{$item}.png")
      no-repeat;
  }
}

.brands__item--1 {
  width: 150px;
  height: 45px;
}

.brands__item--2 {
  width: 141px;
  height: 37px;
}

.brands__item--3 {
  width: 104px;
  height: 38px;
}

.brands__item--4 {
  width: 135px;
  height: 35px;
}
