.card {
  position: relative;
  padding: 50px 0 60px 40px;

  &:hover {
    z-index: 10;
    background: none;
    background-color: #fff;
  }

  @media screen and (max-width: 450px) {
    padding-left: 20px;
  }
}

.card__info {
  z-index: 10;
  visibility: hidden;
  background-color: #fff;
  opacity: 0; // ?
}

.card:hover .card__info {
  visibility: visible;
  opacity: 1; // ?
}

.card__category {
  position: absolute;
  top: 50px;
  right: 32px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  @media screen and (max-width: 450px) {
    font-size: 0.7rem;
  }
}

.card__title {
  margin-bottom: 55px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.03em;
  border-bottom: 1px solid #000;

  &::first-line {
    line-height: 30px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.2rem;
  }
}

.card__text {
  max-width: 330px;
  min-height: 130px;
  margin-right: 30px;
  margin-left: auto;
  font-size: 1rem;
  font-weight: normal;
  line-height: 140%;
  text-align: center;

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.card__link {
  @extend %centering-flex-container;

  position: absolute;
  bottom: 38px;
  width: 88px;
  height: 88px;
  font-family: inherit;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  background-color: $accent-color;
  border-radius: 50%;
  transition: 0.3s transform ease;

  &:hover {
    transition: 0.2s transform ease;
    transform: translateX(5px);
  }

  &::after {
    content: url(../../images/white-right-arrow.png);
  }
}
