.footer {
  // @include section-popup-onscroll;
  @include flex(space-between, start);

  flex-wrap: wrap;
  padding: 120px 60px 110px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;

  @media screen and (max-width: 768px) {
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: space-between;
  }
}

.footer > *:not(:last-child) {
  margin-right: 40px;
  margin-bottom: 40px;
}

.footer__logo {
  display: block;
}

.footer__rights-span {
  margin-top: 10px;
  display: block;
}

.footer__rights {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 10px;
}

//font($weight, $size: 1rem, $color: #000)
.footer__menu-link {
  @include font(normal, 14px);

  text-transform: capitalize;
  line-height: 140%;
  font-family: inherit;

  transition: 0.2s color ease;

  &:hover {
    color: $accent-color;
    transition: 0.2s color ease;
  }
}

@media screen and (max-width: 450px) {
  .footer__languages {
    display: flex;
  }
}

// .footer__languages {
//   display: flex;
// }

.footer__languages-item {
  text-transform: uppercase;
  cursor: pointer;
}

.footer__languages-item:not(:last-child) {
  margin-bottom: 10px;

  @media screen and (max-width: 450px) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.footer__languages-item:first-child {
  color: $accent-color;
  transition: 0.2s color ease;
}
