.footer {
  @include flex(space-between, start);

  flex-wrap: wrap;
  width: 100%;
  padding: 120px 60px 110px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 768px) {
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.footer > *:not(:last-child) {
  margin-right: 40px;
  margin-bottom: 40px;
}

.footer__logo {
  display: block;
}

.footer__logo-img {
  width: 141px;
  height: 40px;
}

.footer__rights-span {
  display: block;
  margin-top: 10px;
}

.footer__rights {
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 170%;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__menu-link {
  @include font(normal, 14px);

  font-family: inherit;
  line-height: 140%;
  text-transform: capitalize;
  transition: 0.2s color ease;

  &:hover {
    color: $accent-color;
    transition: 0.2s color ease;
  }
}

@media screen and (max-width: 450px) {
  .footer__languages {
    display: flex;
  }
}

.footer__languages-item {
  text-transform: uppercase;
  cursor: pointer;
}

.footer__languages-item:not(:last-child) {
  margin-bottom: 10px;

  @media screen and (max-width: 450px) {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.footer__languages-item:first-child {
  color: $accent-color;
  transition: 0.2s color ease;
}
