.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: "SF Pro Display", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  line-height: 80%;
}

a {
  text-decoration: none;
  outline: none;
  font-family: "SF Pro Display", sans-serif;
}

::-moz-selection {
  background-color: #f8b995;
}

::selection {
  background-color: #f8b995;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 60px 0;
  background-color: transparent;
}

@media screen and (max-width: 1350px) {
  .header__upper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .header__upper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 450px) {
  .header__upper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__mobile-btn--open {
  display: none;
}

@media screen and (max-width: 992px) {
  .header__mobile-btn--open {
    background: url("/images/common-blocks/header-upper/burger-white.png") no-repeat;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
    visibility: visible;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
  }
}

@media screen and (max-width: 450px) {
  .header__mobile-btn--open {
    right: 20px;
  }
}

.header__mobile-btn--inactive {
  visibility: hidden;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header__logo {
  width: 140px;
  min-height: 40px;
  margin-right: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .header__logo {
    margin-right: auto;
  }
}

@media screen and (max-width: 992px) {
  .header__logo {
    margin-right: 0;
  }
}

.header__logo-architecture {
  display: block;
  margin-top: 2px;
  margin-left: 42px;
}

@media screen and (max-width: 992px) {
  .header__nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    right: -250px;
    padding: 40px;
    height: 100vh;
    padding-top: 100px;
    z-index: 10;
  }
}

.header__nav--active {
  display: block;
  -webkit-animation: slide-in-mobile-menu 1s forwards ease;
          animation: slide-in-mobile-menu 1s forwards ease;
}

@-webkit-keyframes slide-in-mobile-menu {
  0% {
    right: -250px;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-in-mobile-menu {
  0% {
    right: -250px;
  }
  100% {
    right: 0;
  }
}

.header__nav--inactive {
  -webkit-animation: slide-out-mobile-menu 1s forwards ease;
          animation: slide-out-mobile-menu 1s forwards ease;
}

@-webkit-keyframes slide-out-mobile-menu {
  0% {
    right: 0;
  }
  100% {
    right: -250px;
  }
}

@keyframes slide-out-mobile-menu {
  0% {
    right: 0;
  }
  100% {
    right: -250px;
  }
}

.header__mobile-btn--close {
  display: none;
}

@media screen and (max-width: 992px) {
  .header__mobile-btn--close {
    background: url("/images/common-blocks/header-upper/close.png") no-repeat;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__menu-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1350px) {
  .header__menu-item:not(:last-child) {
    margin-right: 25px;
  }
}

@media screen and (max-width: 992px) {
  .header__menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.header__menu-item-link {
  font-weight: 600;
  font-size: 14px;
  color: #000;
  font-family: "SF Pro Display";
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

@media screen and (max-width: 992px) {
  .header__menu-item-link {
    color: #f27935 !important;
  }
}

.header__menu-item-link:hover {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 992px) {
  .header__call {
    margin-left: none;
    margin-right: auto;
  }
}

@media screen and (max-width: 700px) {
  .header__call {
    display: none;
  }
}

.header__call-text {
  margin-right: 12px;
  font-weight: 600;
  font-size: 18px;
  color: #f27935;
}

.header__call-link {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.card {
  position: relative;
  padding: 50px 0 60px 40px;
}

@media screen and (max-width: 450px) {
  .card {
    padding-left: 20px;
  }
}

.card:hover {
  background: none;
  background-color: #fff;
  z-index: 10;
}

.card:hover .card__info {
  visibility: visible;
  opacity: 1;
}

.card__info {
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.card__category {
  position: absolute;
  top: 50px;
  right: 32px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 450px) {
  .card__category {
    font-size: 0.7rem;
  }
}

.card__title {
  border-bottom: 1px solid #000;
  margin-bottom: 55px;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .card__title {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 450px) {
  .card__title {
    font-size: 1.2rem;
  }
}

.card__title:first-line {
  line-height: 30px;
}

.card__text {
  max-width: 330px;
  min-height: 130px;
  margin-left: auto;
  margin-right: 30px;
  text-align: center;
  font-weight: normal;
  font-size: 1rem;
  line-height: 140%;
}

@media screen and (max-width: 450px) {
  .card__text {
    font-size: 0.9rem;
  }
}

.card__link {
  position: absolute;
  bottom: 38px;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  color: #000;
  -webkit-transition: 0.3s -webkit-transform ease;
  transition: 0.3s -webkit-transform ease;
  transition: 0.3s transform ease;
  transition: 0.3s transform ease, 0.3s -webkit-transform ease;
  width: 88px;
  height: 88px;
  background-color: #f27935;
  border-radius: 50%;
}

.card__link:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: 0.2s -webkit-transform ease;
  transition: 0.2s -webkit-transform ease;
  transition: 0.2s transform ease;
  transition: 0.2s transform ease, 0.2s -webkit-transform ease;
}

.card__link::after {
  content: url(/images/white-right-arrow.png);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__link {
  width: 20px;
  height: 20px;
  display: block;
}

.socials__link:hover {
  opacity: .7;
}

.socials__item:not(:last-child) {
  margin-right: 30px;
}

.socials__link--first {
  background: url("/images/socials/fb.png") no-repeat;
}

.socials__link--second {
  background: url("/images/socials/tw.png") no-repeat 0 2px;
}

.socials__link--third {
  background: url("/images/socials/inst.png") no-repeat;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 120px 60px 110px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 70px;
    padding-bottom: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer > *:not(:last-child) {
  margin-right: 40px;
  margin-bottom: 40px;
}

.footer__logo {
  display: block;
}

.footer__rights-span {
  margin-top: 10px;
  display: block;
}

.footer__rights {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__menu-link {
  font-weight: normal;
  font-size: 14px;
  color: #000;
  line-height: 140%;
  font-family: inherit;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.footer__menu-link:hover {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

@media screen and (max-width: 450px) {
  .footer__languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__languages-item {
  text-transform: uppercase;
  cursor: pointer;
}

.footer__languages-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
  .footer__languages-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.footer__languages-item:first-child {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.header .header__lower {
  padding-top: 210px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1024px) {
  .header .header__lower {
    padding-top: 100px;
  }
}

@media screen and (max-width: 450px) {
  .header .header__lower {
    padding-top: 50px;
  }
}

.header .header__title {
  margin-left: 400px;
  font-weight: 700;
  font-size: 3.5rem;
  color: #000;
  line-height: 80%;
  text-transform: capitalize;
}

@media screen and (max-width: 1024px) {
  .header .header__title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .header .header__title {
    margin-left: 80px;
  }
}

@media screen and (max-width: 450px) {
  .header .header__title {
    font-size: 1.5rem;
  }
}

.projects .projects__nav {
  padding-top: 70px;
  padding-bottom: 55px;
}

@media screen and (max-width: 1250px) {
  .projects .projects__nav {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .projects .projects__nav {
    padding-top: 35px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .projects .projects__nav {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 600px) {
  .projects .projects__nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.projects .projects__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .projects__menu-item {
  text-transform: capitalize;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.projects .projects__menu-item:hover {
  color: #f27935;
  cursor: pointer;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.projects .projects__menu-item:not(:last-child) {
  margin-right: 45px;
}

.projects .projects__lower {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(570px, auto);
  grid-gap: 60px;
}

@media screen and (max-width: 1919px) {
  .projects .projects__lower {
    grid-auto-rows: minmax(500px, auto);
    grid-gap: 40px;
  }
}

@media screen and (max-width: 1350px) {
  .projects .projects__lower {
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .projects .projects__lower {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .projects .projects__lower {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 600px) {
  .projects .projects__lower {
    grid-gap: 20px;
    grid-auto-rows: minmax(200px, auto);
    padding-left: 20px;
    padding-right: 20px;
  }
}

.projects .projects__card {
  background-color: #fff;
}

@media screen and (max-width: 450px) {
  .projects .projects__card {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 600px) {
  .projects .projects__card-title {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 450px) {
  .projects .projects__card-title {
    font-size: 1.2rem;
  }
}

.projects .projects__card-category {
  color: #f27935;
}

@media screen and (max-width: 450px) {
  .projects .projects__card-category {
    font-size: 0.7rem;
  }
}

.projects .projects__card--first {
  background: url("../../../images/pages/portfolio-page/bedroom.jpg") center center no-repeat;
  background-size: cover;
}

.projects .projects__card--second {
  background: url("../../../images/pages/portfolio-page/hall.jpg") center center no-repeat;
  background-size: cover;
}

.projects .projects__card--third {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  background: url("../../../images/pages/portfolio-page/yard.jpg") center center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .projects .projects__card--third {
    grid-row: auto;
    grid-column: auto;
  }
}

.projects .projects__card--fourth {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  background: url("../../../images/pages/portfolio-page/sofa.jpg") center center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .projects .projects__card--fourth {
    grid-row: auto;
    grid-column: auto;
  }
}

.projects .projects__card--fifth {
  background: url("../../../images/pages/portfolio-page/houses.jpg") center center no-repeat;
  background-size: cover;
}

.projects .projects__card--sixth {
  background: url("../../../images/pages/portfolio-page/white-houses.jpg") center center no-repeat;
  background-size: cover;
}

.projects .projects__card--seventh {
  background: url("../../../images/pages/portfolio-page/building.jpg") center center no-repeat;
  background-size: cover;
}

.projects .projects__card--eighth {
  background: url("../../../images/pages/portfolio-page/hall.jpg") center center no-repeat;
  background-size: cover;
}

.projects .projects__card--nineth {
  -ms-grid-row: 4;
  grid-row: 4 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  background: url("../../../images/pages/portfolio-page/divan.jpg") center center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .projects .projects__card--nineth {
    grid-row: auto;
    grid-column: auto;
  }
}

.projects .card:hover {
  background: none;
  outline: 1px solid black;
}

.projects .projects__card:last-child:hover {
  background-position: 0 -230px;
}

.projects .projects__card-link {
  display: block;
  width: 88px;
  height: 88px;
  background-color: #f27935;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .projects .projects__card-link {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 1350px) {
  .projects .projects__card-link {
    bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .projects .projects__card-link {
    bottom: 20px;
  }
}

.projects .projects__card-link::after {
  content: url("../../../images/pages/portfolio-page/arrow.png");
}

.footer {
  border-top: none;
}
/*# sourceMappingURL=portfolio.css.map */