@import "../../../ancillary-styles/_vars";
@import "../../../ancillary-styles/_mixins";
@import "../../../ancillary-styles/_common.styles";

@import "../../../common-blocks/header-upper/_header-upper";
@import "../../../common-blocks/services/services";
@import "../../../common-blocks/_card";
@import "../../../common-blocks/_brands";
@import "../../../common-blocks/_socials";
@import "../../../common-blocks/_footer";

// :root {
//   box-sizing: border-box;
//   font-size: $default-font-size;

//   // overflow-x: hidden;

//   font-family: $main-font-family;
// }

// *,
// *::before,
// *::after {

//   box-sizing: inherit;
// }

// body {

//   overflow-x: hidden;
//   // display: flex;
//   // flex-direction: column;
// }

// ::selection {
//   background-color: lighten($accent-color, 20%);
// }

// a {
//   text-decoration: none;
//   outline: none;
// }

// .container {
//   max-width: 1110px;
//   margin: 0 auto;
// }

// .header {
//   background-color: black;
// }

.header__menu-item-link,
.header__call-link {
  color: #000;
}

.header__central {
  padding-top: 200px;
  // padding-left: 400px;
  // padding-bottom: 65px;
}

@media screen and (max-width: 1024px) {
  .header__central {
    padding-top: 100px;
  }
}

@media screen and (max-width: 450px) {
  .header__central {
    padding-top: 50px;
  }
}

.header__title {
  font-weight: bold;
  font-size: 57px;
  line-height: 80%;
  width: 550px;
  text-transform: none;

  margin-left: 405px;
}

@media screen and (max-width: 1250px) {
  .header__title {
    margin-left: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 2rem;
    width: 350px;
  }
}

@media screen and (max-width: 700px) {
  .header__title {
    margin-left: 50px;
  }
}

@media screen and (max-width: 450px) {
  .header__title {
    font-size: 1.5rem;
    width: 250px;
  }
}

.header__title-span {
  color: $accent-color;
}

.header__central-decor-el {
  height: 75px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 450px) {
  .header__central-decor-el {
    height: 50px;
  }
}

.header__lower {
  width: 100%;
  min-height: 768px;
  // border: 1px solid #000;

  background: url("../../../images/pages/about-page/office-meeting.jpg") center
    center no-repeat; // 0 -250px
  background-size: cover;
}

@media screen and (max-width: 1350px) {
  .header__lower {
    min-height: 500px;
  }
}

// @media screen and (max-width: 1150px) {
//   .header__lower {
//     height: auto;
//     min-height: 500px;
//   }
// }

.idea {
  padding-top: 190px;

  @media screen and (max-width: 1024px) {
    & {
      padding-top: 100px;
    }
  }

  @media screen and (max-width: 450px) {
    & {
      padding-top: 50px;
    }
  }

  .idea__upper {
    display: flex;
    padding-bottom: 250px;
  }

  @media screen and (max-width: 1550px) {
    .idea__upper {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 1024px) {
    .idea__upper {
      padding-bottom: 100px;
    }
  }

  @media screen and (max-width: 450px) {
    .idea__upper {
      padding-bottom: 50px;
    }
  }

  .idea__upper-left {
    width: 50%;
  }

  @media screen and (max-width: 1550px) {
    .idea__upper-left {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  // .idea__upper-right {
  //   width: 50%;

  //   position: relative;
  // }

  // @media screen and (max-width: 1550px) {
  //   .idea__upper-right {
  //     width: 100%;
  //     display: flex;
  //     justify-content: center;
  //   }
  // }

  .idea__title {
    width: 600px;
    text-align: right;

    border-bottom: 1px solid #000;

    margin-bottom: 235px;

    @include font(700, 1.5rem);

    // font-weight: bold;
    // font-size: 24px;
    // line-height: 20px;

    // text-transform: uppercase;
  }

  @media screen and (max-width: 1550px) {
    .idea__title {
      margin-bottom: 100px;
    }
  }

  @media screen and (max-width: 700px) {
    .idea__title {
      width: 280px;
    }
  }

  @media screen and (max-width: 450px) {
    .idea__title {
      font-size: 1.2rem;
    }
  }

  .idea__text {
    max-width: 400px;
    margin-left: 410px;

    @include font(500, 1rem);
    line-height: 140%;
  }

  @media screen and (max-width: 1650px) {
    .idea__text {
      max-width: 300px;
    }
  }

  @media screen and (max-width: 1550px) {
    .idea__text {
      max-width: 400px;
      margin-left: 0;
      align-self: center;
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 1024px) {
    .idea__text {
      margin-right: 40px;
      margin-left: 40px;
      text-align: center;
    }
  }

  @media screen and (max-width: 600px) {
    .idea__text {
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  .idea__upper-right {
    width: 50%;
    position: relative;
  }

  @media screen and (max-width: 1550px) {
    .idea__upper-right {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width: 1024px) {
    .idea__upper-right {
      @include pl-pr(40px);
    }
  }

  @media screen and (max-width: 600px) {
    .idea__upper-right {
      @include pl-pr(20px);
    }
  }

  .idea__video {
    width: 900px;
    height: 475px;

    object-fit: cover;

    position: relative;
    // border: 1px solid #000;

    cursor: pointer;
  }

  @media screen and (max-width: 700px) {
    .idea__video {
      height: 350px;
    }
  }

  @media screen and (max-width: 550px) {
    .idea__video {
      height: 250px;

      overflow-x: scroll;

    }
  }

  // .idea__video::before {
  //   content: "../../images/pages/about-page/video-arrow.png";
  //   width: 50px;
  //   height: 50px;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: 100;
  // }

  .idea__video-container {
    position: relative;
    // border: 1px solid #000;

    max-width: 900px;
    max-height: 475px;
  }

  .idea__video-container:hover .idea__play-btn {
    background-color: #fff;
  }

  .idea__play-btn {
    position: absolute;
    top: calc(50% - 55px);
    left: calc(50% - 55px);
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;

    width: 110px;
    height: 110px;
    // background-color: #f9f9f9;
    border-radius: 50%;
    @extend %centering-flex-container;

    transition: 0.2s all ease;

    cursor: pointer;
  }

  @media screen and (max-width: 700px) {
    .idea__play-btn {
      width: 90px;
      height: 90px;
      top: calc(50% - 45px);
      left: calc(50% - 45px);
    }
  }

  // .idea__poster:hover .idea__play-btn {
  //   background-color: #fff;
  //   transition: 0.2s all ease;
  // }

  .idea__play-btn--inactive {
    display: none;
  }

  .idea__poster-arrow {
    width: 24px;
    height: 24px;
    background: url("/images/pages/about-page/video-arrow.png") no-repeat;
    margin-left: 10px;
  }

  .idea__lower {
    display: flex;
    padding-bottom: 190px;
  }

  @media screen and (max-width: 1550px) {
    .idea__lower {
      padding-bottom: 95px;
    }
  }

  @media screen and (max-width: 670px) {
    .idea__lower {
      padding-bottom: 0;
      flex-direction: column;
      align-items: center;
    }
  }

  .idea__lower-left,
  .idea__lower-right {
    padding: 67px 0 84px 50px;
  }

  @media screen and (max-width: 450px) {
    .idea__lower-left,
    .idea__lower-right {
      padding: 35px 0 42px 50px;
    }
  }

  .idea__lower-left {
    width: 50%;
    background-color: #f9f9f9;
  }

  @media screen and (max-width: 670px) {
    .idea__lower-left {
      width: 100%;
    }
  }

  .idea__lower-right {
    width: 50%;
  }

  @media screen and (max-width: 670px) {
    .idea__lower-right {
      width: 100%;
    }
  }

  .idea__lower-number {
    @include font(600, 7rem, $accent-color);
    line-height: 100%;
    margin-bottom: 55px;
  }

  @media screen and (max-width: 450px) {
    .idea__lower-number {
      font-size: 6rem;
      margin-bottom: 30px;
    }
  }

  .idea__lower-title {
    border-bottom: 1px solid #000;

    @include font(700, 1.5rem);
    letter-spacing: 0.03em;

    // font-weight: bold;
    // font-size: 24px;
    // line-height: 20px;
    // text-transform: uppercase;

    margin-bottom: 80px;
  }

  @media screen and (max-width: 450px) {
    .idea__lower-title {
      font-size: 1.2rem;
      margin-bottom: 40px;
    }
  }

  .idea__lower-text {
    max-width: 330px;
    text-align: center;
    margin-left: auto;

    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
  }
}

.team {
  .team__upper {
    padding-top: 250px;
    margin-bottom: 120px;
  }

  @media screen and (max-width: 1024px) {
    .team__upper {
      padding-top: 125px;
      margin-bottom: 60px;
    }
  }

  @media screen and (max-width: 450px) {
    .team__upper {
      padding-top: 60px;
    }
  }

  .team__title {
    max-width: 600px;
    text-align: right;
    border-bottom: 1px solid #000;

    @include font(700, 1.5rem) // font-weight: bold;
      // font-size: 25px;
      // line-height: 20px;
      // text-transform: uppercase;
;
  }

  @media screen and (max-width: 700px) {
    .team__title {
      width: 280px;
    }
  }

  @media screen and (max-width: 450px) {
    .team__title {
      font-size: 1.2rem;
    }
  }

  .team__lower {
    display: flex;
  }

  @media screen and (max-width: 1550px) {
    .team__lower {
      // flex-wrap: wrap;
      flex-direction: column;
      align-items: space-evenly;

      background-color: #f9f9f9;
    }
  }

  .team__lower-wrapper--first,
  .team__lower-wrapper--second {
    display: flex;
    width: 50%;
  }

  @media screen and (max-width: 1550px) {
    .team__lower-wrapper--first,
    .team__lower-wrapper--second {
      width: auto;
    }
  }

  @media screen and (max-width: 880px) {
    .team__lower-wrapper--first,
    .team__lower-wrapper--second {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  @media screen and (max-width: 1550px) {
    .team__lower-wrapper--first {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  @media screen and (max-width: 880px) {
    .team__lower-wrapper--first {
      border-bottom: none;
    }
  }

  .team__person {
    width: 50%;
    height: 555px;
    background-color: #f9f9f9;
    // border: 1px solid #000;

    position: relative;
  }

  // @media screen and (max-width: 1024px) {
  //   .team__person {
  //     height: auto;

  //   }
  // }

  @media screen and (max-width: 880px) {
    .team__person {
      width: 100%;
      border-right: none;
    }
  }

  @media screen and (max-width: 1550px) {
    .team__person--first,
    .team__person--third {
      // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  @media screen and (max-width: 880px) {
    .team__person--first,
    .team__person--third {
      border-right: none;
    }

    .team__person:not(.team__person--fourth) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    // .team__person--first {
    //   border-right: 1px solid rgba(0, 0, 0, 0.2);
    // }
  }

  .team__person-info {
    visibility: hidden;
    opacity: 0;
    padding: 35px 45px 35px 35px;
    transition: 0.5s all ease;
  }

  .team__person-info--active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s all ease;
  }

  .team__person-title {
    margin-bottom: 85px;

    @include font(700, 1.5rem, $accent-color);

    // font-weight: bold;
    // font-size: 25px;
    line-height: 80%;
    // text-transform: uppercase;
    // color: $accent-color;
  }

  .team__person-text {
    max-width: 320px;
    margin-left: auto;
    text-align: center;

    margin-bottom: 265px;

    @include font(400, 1rem);

    // font-weight: normal;
    // font-size: 15px;

    line-height: 140%;
  }

  @media screen and (max-width: 370px) {
    .team__person-text {
      margin-bottom: 230px;
    }
  }

  .team__person-photo {
    opacity: 1;
    transition: 0.2s all ease;
  }

  .team__person-photo--inactive {
    opacity: 0;
    transition: 0.2s all ease;
    visibility: hidden;
  }

  .team__person-photo-img {
    height: 480px; // 480
    // visibility: visible;
    position: absolute;
    bottom: 0;
    left: calc(50% - 150px);
  }

  @media screen and (max-width: 880px) {
    .team__person-photo-img {
      left: calc(50% - 150px);
    }
  }
}

// .footer {
//   display: flex;
//   justify-content: space-between;
//   align-items: start;

//   padding-top: 120px;
//   padding-bottom: 110px;

//   border-top: 1px solid rgba(0, 0, 0, .5);

//   padding-right: 60px;
//   padding-left: 60px;

//   .footer__rights-span {
//     margin-top: 10px;
//     display: block;
//   }

//   .footer__rights {

//     font-family: SF Pro Display;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 14px;
//     line-height: 170%;
//   }

//   .footer__menu-item:not(:last-child) {
//     margin-bottom: 10px;
//   }

//   //font($weight, $size: 1rem, $color: #000)
//   .footer__menu-link {
//     @include font(normal, 14px);
//     line-height: 140%;
//     font-family: inherit;

//     transition: .2s color ease;
//   }

//   .footer__menu-link:hover {
//     color: $accent-color;
//     transition: .2s color ease;
//   }

//   .footer__languages-item {
//     text-transform: uppercase;
//     cursor: pointer;

//   }

//   .footer__languages-item:not(:last-child) {
//     margin-bottom: 10px;
//   }

//   .footer__languages-item:first-child {
//     color: $accent-color;
//     transition: .2s color ease;
//   }

// }
