// @import '../../common/_fonts';
@import "../../../common/_vars";
@import "../../../common/_mixins";

@import "../../../common/common.styles";
@import "../../../blocks/_upper-header";
@import "../../../blocks/services/_services";
@import "../../../blocks/_brands";
@import "../../../blocks/_socials";
@import "../../../blocks/_footer";

// :root {
//   box-sizing: border-box;
//   font-size: $default-font-size;

//   // overflow-x: hidden;

//   font-family: $main-font-family;
// }

// *,
// *::before,
// *::after {

//   box-sizing: inherit;
// }

// body {

//   overflow-x: hidden;
//   // display: flex;
//   // flex-direction: column;
// }

// ::selection {
//   background-color: lighten($accent-color, 20%);
// }

// a {
//   text-decoration: none;
//   outline: none;
// }

// .container {
//   max-width: 1110px;
//   margin: 0 auto;
// }

// .header {
//   background-color: black;
// }

.header__menu-item-link,
.header__call-link {
  color: #000;
}

.header__central {
  padding-top: 200px;
  padding-left: 400px;
  padding-bottom: 65px;
}

@media screen and (max-width: 1350px) {
  .header__central {
    padding-left: 0;
    padding-top: 100px;

    display: flex;
    justify-content: center;
  }
}

.header__title {
  font-weight: bold;
  font-size: 57px;
  // line-height: 60px;
  max-width: 550px;
}

// @media screen and (max-width: 1250px) {
//   .header__title {

//   }
// }

.header__title-span {
  color: $accent-color;
}

.header__lower {
  width: 100%;
  min-height: 768px;
  // border: 1px solid #000;

  background: url(/images/about/office-meeting.jpg) no-repeat 0 -250px;
  background-size: cover;
}

@media screen and (max-width: 1350px) {
  .header__lower {
    min-height: 500px;
  }
}

// @media screen and (max-width: 1150px) {
//   .header__lower {
//     height: auto;
//     min-height: 500px;
//   }
// }

.idea {
  padding-top: 190px;

  @media screen and (max-width: 1550px) {
    & {
      padding-top: 130px;
    }
  }

  .idea__upper {
    display: flex;
    padding-bottom: 250px;
  }

  @media screen and (max-width: 1550px) {
    .idea__upper {
      padding-bottom: 125px;
    }
  }

  .idea__upper-left {
    width: 50%;
  }

  .idea__upper-right {
    width: 50%;

    position: relative;
  }

  .idea__title {
    max-width: 620px;
    text-align: right;

    border-bottom: 1px solid #000;

    margin-bottom: 235px;

    @include font(700, 1.5rem);

    // font-weight: bold;
    // font-size: 24px;
    // line-height: 20px;

    // text-transform: uppercase;
  }

  @media screen and (max-width: 1550px) {
    .idea__title {
      max-width: 410px;
    }
  }

  .idea__text {
    width: 400px;
    margin-left: 410px;

    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
  }

  @media screen and (max-width: 1650px) {
    .idea__text {
      margin-left: 210px;
      width: 300px;
    }
  }

  .idea__video-container {
    max-width: 900px;
    height: 475px;

    position: relative;

    // border: 1px solid #000;
  }

  .idea__video {
    width: 900px;
    height: 475px;

    object-fit: cover;

    // border: 1px solid #000;
  }

  // @media screen and (max-width: 1650px) {
  //   .idea__video {

  //   }
  // }

  .idea__poster {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 100;

    // border: 1px solid #000;

    @extend %centering-flex-container;
  }

  .idea__play-btn {
    width: 110px;
    height: 110px;
    background-color: #f9f9f9;
    border-radius: 50%;
    @extend %centering-flex-container;

    transition: 0.2s all ease;
  }

  .idea__poster:hover .idea__play-btn {
    background-color: #fff;

    transition: 0.2s all ease;
  }

  .idea__poster-arrow {
    width: 24px;
    height: 24px;
    background: url(/images/about/video-arrow.png) no-repeat;
    margin-left: 10px;
  }

  .idea__lower {
    display: flex;
    padding-bottom: 190px;
  }

  @media screen and (max-width: 1550px) {
    .idea__lower {
      padding-bottom: 95px;
    }
  }

  .idea__lower-left,
  .idea__lower-right {
    padding: 67px 0 84px 50px;
  }

  .idea__lower-left {
    width: 50%;
    background-color: #f9f9f9;
  }

  .idea__lower-right {
    width: 50%;
  }

  .idea__lower-number {
    color: $accent-color;
    font-weight: 600;
    font-size: 110px;
    line-height: 90px;

    margin-bottom: 55px;
  }

  .idea__lower-title {
    border-bottom: 1px solid #000;

    @include font(700, 1.5rem);
    letter-spacing: 0.03em;

    // font-weight: bold;
    // font-size: 24px;
    // line-height: 20px;
    // text-transform: uppercase;

    margin-bottom: 80px;
  }

  .idea__lower-text {
    max-width: 330px;
    text-align: center;
    margin-left: auto;

    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
  }
}

.team {
  .team__upper {
    padding-top: 250px;
    margin-bottom: 120px;
  }

  @media screen and (max-width: 1550px) {
    .team__upper {
      padding-top: 125px;
      margin-bottom: 60px;
    }
  }

  .team__title {
    max-width: 600px;
    text-align: right;
    border-bottom: 1px solid #000;

    @include font(700, 1.5rem)

    // font-weight: bold;
    // font-size: 25px;
    // line-height: 20px;
    // text-transform: uppercase;
  }

  @media screen and (max-width: 1550px) {
    .team__title {
      max-width: 410px;
    }
  }

  .team__lower {
    display: flex;
  }

  .team__person {
    width: 25%;
    min-height: 555px;
    background-color: #f9f9f9;
    // border: 1px solid #000;

    position: relative;
  }

  .team__person-info {
    visibility: hidden;
    opacity: 0;

    padding: 35px 45px 35px 35px;

    transition: 0.5s all ease;
  }

  .team__person-info--active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s all ease;
  }

  .team__person-title {
    margin-bottom: 85px;

    @include font(700, 1.5rem, $accent-color);

    // font-weight: bold;
    // font-size: 25px;
    // line-height: 20px;
    // text-transform: uppercase;
    // color: $accent-color;
  }

  .team__person-text {
    max-width: 320px;
    margin-left: auto;
    text-align: center;

    margin-bottom: 265px;

    @include font(400, 1rem);

    // font-weight: normal;
    // font-size: 15px;
    
    line-height: 140%;
  }

  .team__person-photo {
    opacity: 1;
    transition: 0.2s all ease;
  }

  .team__person-photo--inactive {
    opacity: 0;
    transition: 0.2s all ease;
    visibility: hidden;
  }

  .team__person-photo-img {
    height: 480px;
    // visibility: visible;
    position: absolute;
    bottom: 0;
    left: 20%;
  }
}

// .footer {
//   display: flex;
//   justify-content: space-between;
//   align-items: start;

//   padding-top: 120px;
//   padding-bottom: 110px;

//   border-top: 1px solid rgba(0, 0, 0, .5);

//   padding-right: 60px;
//   padding-left: 60px;

//   .footer__rights-span {
//     margin-top: 10px;
//     display: block;
//   }

//   .footer__rights {

//     font-family: SF Pro Display;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 14px;
//     line-height: 170%;
//   }

//   .footer__menu-item:not(:last-child) {
//     margin-bottom: 10px;
//   }

//   //font($weight, $size: 1rem, $color: #000)
//   .footer__menu-link {
//     @include font(normal, 14px);
//     line-height: 140%;
//     font-family: inherit;

//     transition: .2s color ease;
//   }

//   .footer__menu-link:hover {
//     color: $accent-color;
//     transition: .2s color ease;
//   }

//   .footer__languages-item {
//     text-transform: uppercase;
//     cursor: pointer;

//   }

//   .footer__languages-item:not(:last-child) {
//     margin-bottom: 10px;
//   }

//   .footer__languages-item:first-child {
//     color: $accent-color;
//     transition: .2s color ease;
//   }

// }
