.services .services__list-item-btn, .card__link, .idea .idea__play-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: "SF Pro Display", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  line-height: 80%;
}

a {
  text-decoration: none;
  outline: none;
  font-family: "SF Pro Display", sans-serif;
}

::-moz-selection {
  background-color: #f8b995;
}

::selection {
  background-color: #f8b995;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 60px 0;
  background-color: transparent;
}

@media screen and (max-width: 1350px) {
  .header__upper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .header__upper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.header__mobile-btn--open {
  display: none;
}

@media screen and (max-width: 992px) {
  .header__mobile-btn--open {
    background: url("/images/common-blocks/header-upper/burger-white.png") no-repeat;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
    visibility: visible;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
  }
}

.header__mobile-btn--inactive {
  visibility: hidden;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header__logo {
  width: 140px;
  min-height: 40px;
  margin-right: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .header__logo {
    margin-right: auto;
  }
}

@media screen and (max-width: 992px) {
  .header__logo {
    margin-right: 0;
  }
}

.header__logo-architecture {
  display: block;
  margin-top: 2px;
  margin-left: 42px;
}

@media screen and (max-width: 992px) {
  .header__nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    right: -250px;
    padding: 40px;
    height: 100vh;
    padding-top: 100px;
    z-index: 10;
  }
}

.header__nav--active {
  display: block;
  -webkit-animation: slide-in-mobile-menu 1s forwards ease;
          animation: slide-in-mobile-menu 1s forwards ease;
}

@-webkit-keyframes slide-in-mobile-menu {
  0% {
    right: -250px;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-in-mobile-menu {
  0% {
    right: -250px;
  }
  100% {
    right: 0;
  }
}

.header__nav--inactive {
  -webkit-animation: slide-out-mobile-menu 1s forwards ease;
          animation: slide-out-mobile-menu 1s forwards ease;
}

@-webkit-keyframes slide-out-mobile-menu {
  0% {
    right: 0;
  }
  100% {
    right: -250px;
  }
}

@keyframes slide-out-mobile-menu {
  0% {
    right: 0;
  }
  100% {
    right: -250px;
  }
}

.header__mobile-btn--close {
  display: none;
}

@media screen and (max-width: 992px) {
  .header__mobile-btn--close {
    background: url("/images/common-blocks/header-upper/close.png") no-repeat;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__menu-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1350px) {
  .header__menu-item:not(:last-child) {
    margin-right: 25px;
  }
}

@media screen and (max-width: 992px) {
  .header__menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.header__menu-item-link {
  font-weight: 600;
  font-size: 14px;
  color: #000;
  font-family: "SF Pro Display";
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

@media screen and (max-width: 992px) {
  .header__menu-item-link {
    color: #f27935 !important;
  }
}

.header__menu-item-link:hover {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 992px) {
  .header__call {
    margin-left: none;
    margin-right: auto;
  }
}

@media screen and (max-width: 700px) {
  .header__call {
    display: none;
  }
}

.header__call-text {
  margin-right: 12px;
  font-weight: 600;
  font-size: 18px;
  color: #f27935;
}

.header__call-link {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.services {
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 1.7s all ease;
  transition: 1.7s all ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f9f9;
  padding-bottom: 165px;
  padding-top: 170px;
}

.services--active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1.7s all ease;
  transition: 1.7s all ease;
}

@media screen and (max-width: 1250px) {
  .services {
    padding-right: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .services {
    padding-bottom: 85px;
    padding-top: 85px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
  }
}

.services .services__left {
  width: 50%;
}

.services .services__title {
  width: 530px;
  border-bottom: 1px solid #000;
  text-align: right;
  font-weight: 700;
  font-size: 25px;
  color: #000;
}

@media screen and (max-width: 700px) {
  .services .services__title {
    width: 280px;
  }
}

@media screen and (max-width: 450px) {
  .services .services__title {
    font-size: 1.2rem;
  }
}

.services .services__right {
  width: 50%;
}

@media screen and (max-width: 1150px) {
  .services .services__right {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.services .services__list {
  margin-right: 20px;
  margin-left: 20px;
  max-width: 555px;
}

.services .services__list-item {
  margin-bottom: 6px;
}

.services .services__list-item-upper {
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 7px;
  cursor: pointer;
}

.services .services__list-item-title {
  font-weight: 600;
  font-size: 15px;
  color: #000;
}

.services .services__list-item-btn {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #000;
  background-color: transparent;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.services .services__list-item-btn--active {
  background-color: #f27935;
  border: none;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.services .services__list-item-btn:hover {
  background-color: #f27935;
  border: none;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.services .services__list-item-btn-down-arrow {
  background-image: url(/images/black-down-arrow.svg);
  background-position: center center;
  width: 7px;
  height: 7px;
}

.services .services__list-item-btn-down-arrow--active {
  background-image: url(/images/white-up-arrow.png);
}

.services .services__list-item-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  height: 0;
  z-index: -5;
}

.services .services__list-item-lower--active {
  padding: 40px 0 40px;
  opacity: 1;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  height: 100%;
  visibility: visible;
}

.services .services__list-item-link {
  margin-top: auto;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  color: #f27935;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@media screen and (max-width: 520px) {
  .services .services__list-item-link:after {
    display: none;
  }
}

.services .services__list-item-link:after {
  content: url(/images/orange-arrow.png);
  padding-left: 8px;
}

.services .services__list-item-link:hover {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.services .services__list-item-text {
  max-width: 380px;
  text-align: right;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  line-height: 140%;
}

.card {
  position: relative;
  padding: 50px 0 60px 40px;
}

.card:hover {
  background: none;
  background-color: #fff;
  z-index: 10;
}

.card:hover .card__info {
  visibility: visible;
  opacity: 1;
}

.card__info {
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.card__category {
  position: absolute;
  top: 50px;
  right: 32px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.card__title {
  border-bottom: 1px solid #000;
  margin-bottom: 55px;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.card__title:first-line {
  line-height: 30px;
}

.card__text {
  max-width: 330px;
  min-height: 130px;
  margin-left: auto;
  margin-right: 30px;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
}

.card__link {
  position: absolute;
  bottom: 38px;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  color: #000;
  -webkit-transition: .3s transform ease;
  transition: .3s transform ease;
  width: 88px;
  height: 88px;
  background-color: #f27935;
  border-radius: 50%;
}

.card__link:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: .2s transform ease;
  transition: .2s transform ease;
}

.card__link::after {
  content: url(/images/white-right-arrow.png);
}

.brands {
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 1.7s all ease;
  transition: 1.7s all ease;
}

.brands--active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1.7s all ease;
  transition: 1.7s all ease;
}

.brands__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 200px 0;
}

@media screen and (max-width: 1250px) {
  .brands__container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .brands__container {
    padding: 100px 0;
  }
}

@media screen and (max-width: 992px) {
  .brands__container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 450px) {
  .brands__container {
    padding: 50px 0;
  }
}

@media screen and (max-width: 992px) {
  .brands__item {
    margin: 20px;
  }
}

.brands__item--first {
  width: 150px;
  height: 45px;
  background: url("/images/common-blocks/brands/creative.png") no-repeat;
}

.brands__item--second {
  width: 141px;
  height: 37px;
  background: url("/images/common-blocks/brands/at.png") no-repeat;
}

.brands__item--third {
  width: 104px;
  height: 38px;
  background: url("/images/common-blocks/brands/neuton.png") no-repeat;
}

.brands__item--fourth {
  width: 135px;
  height: 35px;
  background: url("/images/common-blocks/brands/francois.png") no-repeat;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__link {
  width: 20px;
  height: 20px;
  display: block;
}

.socials__link:hover {
  opacity: .7;
}

.socials__item:not(:last-child) {
  margin-right: 30px;
}

.socials__link--first {
  background: url("/images/socials/fb.png") no-repeat;
}

.socials__link--second {
  background: url("/images/socials/tw.png") no-repeat 0 2px;
}

.socials__link--third {
  background: url("/images/socials/inst.png") no-repeat;
}

.footer {
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 1.7s all ease;
  transition: 1.7s all ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 120px 60px 110px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
}

.footer--active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1.7s all ease;
  transition: 1.7s all ease;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 70px;
    padding-bottom: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer > *:not(:last-child) {
  margin-right: 40px;
  margin-bottom: 40px;
}

.footer__logo {
  display: block;
}

.footer__rights-span {
  margin-top: 10px;
  display: block;
}

.footer__rights {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__menu-link {
  font-weight: normal;
  font-size: 14px;
  color: #000;
  line-height: 140%;
  font-family: inherit;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.footer__menu-link:hover {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

@media screen and (max-width: 450px) {
  .footer__languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__languages-item {
  text-transform: uppercase;
  cursor: pointer;
}

.footer__languages-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
  .footer__languages-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.footer__languages-item:first-child {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.header__menu-item-link,
.header__call-link {
  color: #000;
}

.header__central {
  padding-top: 200px;
}

@media screen and (max-width: 1024px) {
  .header__central {
    padding-top: 100px;
  }
}

@media screen and (max-width: 450px) {
  .header__central {
    padding-top: 50px;
  }
}

.header__title {
  font-weight: bold;
  font-size: 57px;
  line-height: 80%;
  width: 550px;
  text-transform: none;
  margin-left: 405px;
}

@media screen and (max-width: 1250px) {
  .header__title {
    margin-left: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 2rem;
    width: 350px;
  }
}

@media screen and (max-width: 700px) {
  .header__title {
    margin-left: 50px;
  }
}

@media screen and (max-width: 450px) {
  .header__title {
    font-size: 1.5rem;
    width: 250px;
  }
}

.header__title-span {
  color: #f27935;
}

.header__central-decor-el {
  height: 75px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 450px) {
  .header__central-decor-el {
    height: 50px;
  }
}

.header__lower {
  width: 100%;
  min-height: 768px;
  background: url("../../../images/pages/about-page/office-meeting.jpg") center center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1350px) {
  .header__lower {
    min-height: 500px;
  }
}

.idea {
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 1.7s all ease;
  transition: 1.7s all ease;
  padding-top: 190px;
}

.idea--active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1.7s all ease;
  transition: 1.7s all ease;
}

@media screen and (max-width: 1024px) {
  .idea {
    padding-top: 100px;
  }
}

@media screen and (max-width: 450px) {
  .idea {
    padding-top: 50px;
  }
}

.idea .idea__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 250px;
}

@media screen and (max-width: 1550px) {
  .idea .idea__upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .idea .idea__upper {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 450px) {
  .idea .idea__upper {
    padding-bottom: 50px;
  }
}

.idea .idea__upper-left {
  width: 50%;
}

@media screen and (max-width: 1550px) {
  .idea .idea__upper-left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.idea .idea__title {
  width: 600px;
  text-align: right;
  border-bottom: 1px solid #000;
  margin-bottom: 235px;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
}

@media screen and (max-width: 1550px) {
  .idea .idea__title {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 700px) {
  .idea .idea__title {
    width: 280px;
  }
}

@media screen and (max-width: 450px) {
  .idea .idea__title {
    font-size: 1.2rem;
  }
}

.idea .idea__text {
  max-width: 400px;
  margin-left: 410px;
  font-weight: 500;
  font-size: 1rem;
  color: #000;
  line-height: 140%;
}

@media screen and (max-width: 1650px) {
  .idea .idea__text {
    max-width: 300px;
  }
}

@media screen and (max-width: 1550px) {
  .idea .idea__text {
    max-width: 400px;
    margin-left: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .idea .idea__text {
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .idea .idea__text {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.idea .idea__upper-right {
  width: 50%;
  position: relative;
}

@media screen and (max-width: 1550px) {
  .idea .idea__upper-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .idea .idea__upper-right {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 600px) {
  .idea .idea__upper-right {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.idea .idea__video {
  width: 900px;
  height: 475px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .idea .idea__video {
    height: 350px;
  }
}

@media screen and (max-width: 550px) {
  .idea .idea__video {
    height: 250px;
    overflow-x: scroll;
  }
}

.idea .idea__video-container {
  position: relative;
  max-width: 900px;
  max-height: 475px;
}

.idea .idea__video-container:hover .idea__play-btn {
  background-color: #fff;
}

.idea .idea__play-btn {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 55px);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .idea .idea__play-btn {
    width: 90px;
    height: 90px;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
  }
}

.idea .idea__play-btn--inactive {
  display: none;
}

.idea .idea__poster-arrow {
  width: 24px;
  height: 24px;
  background: url("/images/pages/about-page/video-arrow.png") no-repeat;
  margin-left: 10px;
}

.idea .idea__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 190px;
}

@media screen and (max-width: 1550px) {
  .idea .idea__lower {
    padding-bottom: 95px;
  }
}

@media screen and (max-width: 670px) {
  .idea .idea__lower {
    padding-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.idea .idea__lower-left,
.idea .idea__lower-right {
  padding: 67px 0 84px 50px;
}

@media screen and (max-width: 450px) {
  .idea .idea__lower-left,
  .idea .idea__lower-right {
    padding: 35px 0 42px 50px;
  }
}

.idea .idea__lower-left {
  width: 50%;
  background-color: #f9f9f9;
}

@media screen and (max-width: 670px) {
  .idea .idea__lower-left {
    width: 100%;
  }
}

.idea .idea__lower-right {
  width: 50%;
}

@media screen and (max-width: 670px) {
  .idea .idea__lower-right {
    width: 100%;
  }
}

.idea .idea__lower-number {
  font-weight: 600;
  font-size: 7rem;
  color: #f27935;
  line-height: 100%;
  margin-bottom: 55px;
}

@media screen and (max-width: 450px) {
  .idea .idea__lower-number {
    font-size: 6rem;
    margin-bottom: 30px;
  }
}

.idea .idea__lower-title {
  border-bottom: 1px solid #000;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
  letter-spacing: 0.03em;
  margin-bottom: 80px;
}

@media screen and (max-width: 450px) {
  .idea .idea__lower-title {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
}

.idea .idea__lower-text {
  max-width: 330px;
  text-align: center;
  margin-left: auto;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
}

.team {
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 1.7s all ease;
  transition: 1.7s all ease;
}

.team--active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1.7s all ease;
  transition: 1.7s all ease;
}

.team .team__upper {
  padding-top: 200px;
  margin-bottom: 120px;
}

@media screen and (max-width: 1024px) {
  .team .team__upper {
    padding-top: 125px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 450px) {
  .team .team__upper {
    padding-top: 60px;
  }
}

.team .team__title {
  max-width: 600px;
  text-align: right;
  border-bottom: 1px solid #000;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
}

@media screen and (max-width: 700px) {
  .team .team__title {
    width: 280px;
  }
}

@media screen and (max-width: 450px) {
  .team .team__title {
    font-size: 1.2rem;
  }
}

.team .team__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1550px) {
  .team .team__lower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-evenly;
        -ms-flex-align: space-evenly;
            align-items: space-evenly;
    background-color: #f9f9f9;
  }
}

.team .team__lower-wrapper--first,
.team .team__lower-wrapper--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

@media screen and (max-width: 1550px) {
  .team .team__lower-wrapper--first,
  .team .team__lower-wrapper--second {
    width: auto;
  }
}

@media screen and (max-width: 880px) {
  .team .team__lower-wrapper--first,
  .team .team__lower-wrapper--second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 1550px) {
  .team .team__lower-wrapper--first {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 880px) {
  .team .team__lower-wrapper--first {
    border-bottom: none;
  }
}

.team .team__person {
  width: 50%;
  height: 555px;
  background-color: #f9f9f9;
  position: relative;
}

@media screen and (max-width: 880px) {
  .team .team__person {
    width: 100%;
    border-right: none;
  }
}

@media screen and (max-width: 1550px) {
  .team .team__person--first,
  .team .team__person--third {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 880px) {
  .team .team__person--first,
  .team .team__person--third {
    border-right: none;
  }
  .team .team__person:not(.team__person--fourth) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.team .team__person-info {
  visibility: hidden;
  opacity: 0;
  padding: 35px 45px 35px 35px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.team .team__person-info--active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.team .team__person-title {
  margin-bottom: 85px;
  font-weight: 700;
  font-size: 1.5rem;
  color: #f27935;
  line-height: 80%;
}

.team .team__person-text {
  max-width: 320px;
  margin-left: auto;
  text-align: center;
  margin-bottom: 265px;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  line-height: 140%;
}

@media screen and (max-width: 370px) {
  .team .team__person-text {
    margin-bottom: 230px;
  }
}

.team .team__person-photo {
  opacity: 1;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.team .team__person-photo--inactive {
  opacity: 0;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  visibility: hidden;
}

.team .team__person-photo-img {
  height: 480px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 150px);
}

@media screen and (max-width: 880px) {
  .team .team__person-photo-img {
    left: calc(50% - 150px);
  }
}
/*# sourceMappingURL=about.css.map */