@import "../../../ancillary-styles/_vars";
@import "../../../ancillary-styles/_mixins";
@import "../../../ancillary-styles/_common.styles";

@import "../../../common-blocks/header-upper/_header-upper";
@import "../../../common-blocks/_socials";
@import "../../../common-blocks/footer";

.header {
  .header__central {
    padding-top: 210px;
  }

  @media screen and (max-width: 1024px) {
    .header__central {
      padding-top: 100px;
    }
  }

  @media screen and (max-width: 450px) {
    .header__central {
      padding-top: 50px;
    }
  }

  .header__title {
    margin-left: 410px;
    @include font(700, 3.5rem);
    // line-height: 40px;
    line-height: 80%;
  }

  @media screen and (max-width: 1024px) {
    .header__title {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 700px) {
    .header__title {
      margin-left: 80px;
    }
  }

  @media screen and (max-width: 450px) {
    .header__title {
      font-size: 1.5rem;
    }
  }

  .header__central-decor-el {
    width: 100%;
    height: 75px;
    border-top: 1px solid rgba(000, 000, 000, 0.3);
  }

  @media screen and (max-width: 450px) {
    .header__central-decor-el {
      height: 50px;
    }
  }

  @media screen and (max-width: 1024px) {
    .header__lower-map {
      height: 400px;
    }
  }
}

.contacts {
  padding-bottom: 200px;

  @media screen and (max-width: 1024px) {
    & {
      padding-bottom: 100px;
    }
  }

  @media screen and (max-width: 450px) {
    & {
      padding-bottom: 70px;
    }
  }

  .contacts__upper {
    padding-top: 210px;
  }

  @media screen and (max-width: 1024px) {
    .contacts__upper {
      padding-top: 100px;
    }
  }

  @media screen and (max-width: 450px) {
    .contacts__upper {
      padding-top: 50px;
    }
  }

  .contacts__title {
    @include font(700, 1.5rem);

    line-height: 80%;
    text-transform: uppercase;
    width: 600px;
    border-bottom: 1px solid #000;
    text-align: right;
  }

  @media screen and (max-width: 700px) {
    .contacts__title {
      width: 280px;
    }
  }

  @media screen and (max-width: 450px) {
    .contacts__title {
      font-size: 1.2rem;
    }
  }

  .contacts__lower {
    display: flex;
  }

  @media screen and (max-width: 1250px) {
    .contacts__lower {
      @include pl-pr(40px);
    }
  }

  @media screen and (max-width: 450px) {
    .contacts__lower {
      @include pl-pr(20px);
    }
  }

  @media screen and (max-width: 768px) {
    .contacts__lower {
      flex-direction: column;
    }
  }

  .contacts__lower-left {
    width: 50%;
    padding-top: 130px;
  }

  @media screen and (max-width: 768px) {
    .contacts__lower-left {
      order: 1;
      width: 100%;
      padding-top: 80px;
    }
  }

  @media screen and (max-width: 768px) {
    .contacts__lower-left {
      padding-top: 60px;
    }
  }

  .contacts__lower-right {
    width: 50%;
    padding-top: 120px;
  }

  @media screen and (max-width: 768px) {
    .contacts__lower-right {
      order: 0;
      width: 100%;
      padding-top: 60px;
    }
  }

  @media screen and (max-width: 450px) {
    .contacts__lower-right {
      padding-top: 40px;
    }
  }

  .contacts__tel {
    @include font(700, 2rem, $accent-color);

    display: block;
    margin-bottom: 120px;
  }

  @media screen and (max-width: 768px) {
    .contacts__tel {
      margin-bottom: 60px;
    }
  }

  @media screen and (max-width: 450px) {
    .contacts__tel {
      margin-bottom: 40px;
      font-size: 1.5rem;
    }
  }

  .contacts__address {
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;

    margin-bottom: 70px;
  }

  @media screen and (max-width: 768px) {
    .contacts__address {
      margin-bottom: 35px;
    }
  }

  .contacts__address-span {
    color: $accent-color;
  }

  .contacts__email-container {
    margin-bottom: 20px;
  }

  .contacts__email-text,
  .contacts__email-link {
    font-family: inherit;
    font-weight: regular;
    font-size: 15px;
    color: #000;

    transition: 0.1s color linear;
  }

  .contacts__email-link:hover {
    color: $accent-color;
    transition: 0.1s color linear;
  }

  .contacts__email-text {
    font-weight: bold;
  }

  .contacts__socials-container {
    display: flex;
  }

  .contacts__socials-text {
    font-weight: 700;
    font-size: 15px;
    // display: table;
    // vertical-align: middle;

    width: auto;
  }

  .contacts__socials-items-container {
    display: flex;
    min-width: 100px;
    align-items: center;
  }

  .contacts__socials-link {
    margin-left: 15px;
    transition: 0.2s all ease;
  }

  .contacts__socials-path {
    transition: 0.1s all ease;
  }

  .contacts__socials-path:hover {
    transition: 0.1s all ease;
    fill: $accent-color;
  }

  .contacts__text {
    @include font(700, 2.5rem);
    line-height: 120%;
    margin-bottom: 60px;
  }

  @media screen and (max-width: 450px) {
    .contacts__text {
      font-size: 1.5rem;
      margin-bottom: 40px;
    }
  }

  .contacts__text-span {
    color: $accent-color;
  }

  .contacts__input {
    font-family: inherit;
    letter-spacing: 0.05rem;
  }

  // @media screen and (max-width: 1250px) {
  //   .contacts__input {
  //     width: 100%
  //   }
  // }

  .contacts__input:not(.contacts__input--btn) {
    border: 1px solid #000;
    padding: 16px;

    margin-bottom: 30px;

    font-weight: normal;
    font-size: 15px;
    color: #7e7e7e;
  }

  .contacts__input:not(.contacts__input--btn):focus::placeholder {
    color: transparent;
  }

  .contacts__input--name,
  .contacts__input--email {
    width: 260px;
    height: 50px;
    display: inline-block;

    // margin-bottom: 30px;
  }

  @media screen and (max-width: 1250px) {
    .contacts__input--name,
    .contacts__input--email {
      width: 100%;
    }
  }

  // @media screen and (max-width: 768px) {
  //   .contacts__input--name,
  //   .contacts__input--email {
  //     width: 50%
  //   }
  // }

  .contacts__input--name {
    margin-right: 30px;
  }

  // .contacts__input--email {
  // }

  .contacts__input--textarea {
    width: 100%;
    min-height: 175px;
    resize: none;
    display: block;
  }

  .contacts__input--btn {
    width: 230px;
    height: 50px;

    font-family: inherit;
    text-transform: uppercase;

    border: none;
    outline: 1px solid $accent-color;
    background-color: $accent-color;

    font-weight: 600;
    font-size: 13px;

    padding: 16px;
    color: #fff;
    letter-spacing: 0.1rem;

    transition: 0.2s all ease;
  }

  .contacts__input--btn:hover {
    color: $accent-color;
    background-color: #fff;
    transition: 0.2s all ease;
  }

  .contacts__input--btn:active {
    color: #fff;
    background-color: $accent-color;
  }
}
