@import "reset.css/reset.css";

@import "../../ancillary.styles/_fonts";
@import "../../ancillary.styles/_vars";
@import "../../ancillary.styles/_mixins";
@import "../../ancillary.styles/_global";

@import "../../common.blocks/btn-to-top/_btn-to-top";
@import "../../common.blocks/header-upper/_header-upper";
@import "../../common.blocks/_socials";
@import "../../common.blocks/_footer";

.header {
  .header__central {
    @include section-popup-onscroll;

    padding-top: 210px;

    @media screen and (max-width: 1024px) {
      padding-top: 100px;
    }

    @media screen and (max-width: 450px) {
      padding-top: 50px;
    }
  }

  .header__title {
    @include font(700, 3.5rem);

    margin-left: 410px;
    line-height: 80%;
    text-transform: capitalize;

    @media screen and (max-width: 1024px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 700px) {
      margin-left: 80px;
    }

    @media screen and (max-width: 450px) {
      font-size: 1.5rem;
    }
  }

  .header__central-decor-el {
    width: 100%;
    height: 75px;
    border-top: 1px solid rgba(000, 000, 000, 0.3);

    @media screen and (max-width: 450px) {
      height: 50px;
    }
  }

  .header__lower {
    @include section-popup-onscroll;
  }

  @media screen and (max-width: 1024px) {
    .header__lower-map {
      height: 400px;
    }
  }
}

.contacts {
  @include section-popup-onscroll;

  padding-bottom: 200px;

  @media screen and (max-width: 1024px) {
    padding-bottom: 100px;
  }

  @media screen and (max-width: 450px) {
    padding-bottom: 70px;
  }

  .contacts__upper {
    padding-top: 210px;

    @media screen and (max-width: 1024px) {
      padding-top: 100px;
    }

    @media screen and (max-width: 450px) {
      padding-top: 50px;
    }
  }

  .contacts__title {
    @include font(700, 1.5rem);

    width: 600px;
    line-height: 80%;
    text-align: right;
    text-transform: uppercase;
    border-bottom: 1px solid #000;

    @media screen and (max-width: 700px) {
      width: 280px;
    }

    @media screen and (max-width: 450px) {
      font-size: 1.2rem;
    }
  }

  .contacts__lower {
    display: flex;

    @media screen and (max-width: 1250px) {
      @include pl-pr(40px);
    }

    @media screen and (max-width: 450px) {
      @include pl-pr(20px);
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  .contacts__lower-left {
    width: 50%;
    padding-top: 130px;

    @media screen and (max-width: 768px) {
      order: 1;
      width: 100%;
      padding-top: 80px;
    }

    @media screen and (max-width: 768px) {
      padding-top: 60px;
    }
  }

  .contacts__lower-right {
    width: 50%;
    padding-top: 120px;

    @media screen and (max-width: 768px) {
      order: 0;
      width: 100%;
      padding-top: 60px;
    }

    @media screen and (max-width: 450px) {
      padding-top: 40px;
    }
  }

  .contacts__tel {
    @include font(700, 2rem, $accent-color);

    display: block;
    max-width: 300px;
    margin-bottom: 120px;

    @media screen and (max-width: 768px) {
      margin-bottom: 60px;
    }

    @media screen and (max-width: 450px) {
      margin-bottom: 40px;
      font-size: 1.5rem;
    }
  }

  .contacts__address {
    margin-bottom: 70px;
    font-size: 15px;
    font-weight: normal;
    line-height: 140%;

    @media screen and (max-width: 768px) {
      margin-bottom: 35px;
    }
  }

  .contacts__address-span {
    color: $accent-color;
  }

  .contacts__email-container {
    margin-bottom: 20px;
  }

  .contacts__email-text,
  .contacts__email-link {
    font-family: inherit;
    font-size: 15px;
    font-weight: regular;
    color: #000;
    transition: 0.1s color linear;
  }

  .contacts__email-link:hover {
    color: $accent-color;
    transition: 0.1s color linear;
  }

  .contacts__email-text {
    font-weight: bold;
  }

  .contacts__socials-container {
    display: flex;
  }

  .contacts__socials-text {
    width: auto;
    font-size: 15px;
    font-weight: 700;
  }

  .contacts__socials-items-container {
    display: flex;
    align-items: center;
    min-width: 100px;
  }

  .contacts__socials-link {
    margin-left: 15px;
    transition: 0.2s all ease;
  }

  .contacts__socials-path {
    transition: 0.1s all ease;
  }

  .contacts__socials-img:hover .contacts__socials-path {
    fill: $accent-color;
    transition: 0.1s all ease;
  }

  .contacts__text {
    @include font(700, 2.5rem);

    margin-bottom: 60px;
    line-height: 120%;

    @media screen and (max-width: 450px) {
      margin-bottom: 40px;
      font-size: 1.5rem;
    }
  }

  .contacts__text-span {
    color: $accent-color;
  }

  .contacts__input {
    font-family: inherit;
    letter-spacing: 0.05rem;
  }

  .contacts__input:not(.contacts__input--btn) {
    padding: 16px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: normal;
    color: #000;
    border: 1px solid #000;
  }

  .contacts__input:not(.contacts__input--btn):focus::placeholder {
    color: transparent;
  }

  .contacts__input--name,
  .contacts__input--email {
    display: inline-block;
    width: 260px;
    height: 50px;

    @media screen and (max-width: 1250px) {
      width: 100%;
    }
  }

  .contacts__input--name {
    margin-right: 30px;

    @media screen and (max-width: 1250px) {
      margin-right: 0;
    }
  }

  .contacts__input--textarea {
    display: block;
    width: 100%;
    min-height: 175px;
    resize: none;
  }

  .contacts__input--btn {
    width: 230px;
    height: 50px;
    padding: 16px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    transition: 0.2s all ease;

    @media screen and (max-width: 450px) {
      width: 100%;
    }

    &:hover {
      color: $accent-color;
      background-color: #fff;
      transition: 0.2s all ease;
    }

    &:active {
      color: #fff;
      background-color: $accent-color;
    }
  }
}
