/* stylelint-disable declaration-colon-newline-after */

@import 'reset.css/reset.css';
@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/pagination/pagination.scss';

@import '../../ancillary.styles/_fonts';
@import '../../ancillary.styles/_vars';
@import '../../ancillary.styles/_mixins';
@import '../../ancillary.styles/_global';

@import '../../common.blocks/btn-to-top/_btn-to-top';
@import '../../common.blocks/services/_services';
@import '../../common.blocks/header-upper/_header-upper';
@import '../../common.blocks/_card';
@import '../../common.blocks/_socials';
@import '../../common.blocks/_brands';
@import '../../common.blocks/_footer';

.header {
  width: 100vw;
  height: 100vh;

  @media screen and (max-width: 768px) {
    & {
      height: 70vh;
    }
  }

  .header__upper {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
  }

  .header__menu-item-link {
    color: #fff;
    transition: 0.2s color ease;

    &:hover {
      color: $accent-color;
      transition: 0.2s color ease;
    }
  }

  .header__call-link {
    color: #fff;
  }

  .swiper-container {
    position: relative;
    width: 100vw;
    height: 100vh;

    @media screen and (max-width: 768px) {
      height: 70vh;
    }
  }

  .swiper-wrapper {
    position: relative;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    z-index: 20;
    width: 20px;
    height: 45px;
    color: #fff;
    transition: 0.2s all ease;

    @media screen and (max-width: 350px) {
      // display: none;
    }
  }

  .swiper-button-prev {
    left: 65px;

    @media screen and (max-width: 768px) {
      top: 240px;
    }

    @media screen and (max-width: 450px) {
      left: 20px;
    }
  }

  .swiper-button-next {
    left: 120px;

    @media screen and (max-width: 768px) {
      top: 240px;
    }

    @media screen and (max-width: 450px) {
      left: 75px;
    }
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    color: $accent-color;
    transition: 0.2s all ease;
  }

  .swiper-scrollbar {
    display: none;
  }

  .swiper-slide {
    width: 100vw;
    height: 100vh;

    @media screen and (max-width: 768px) {
      height: 70vh;
    }
  }

  @for $item from 1 through 3 {
    .swiper-slide--#{$item} {
      background: url('../../images/pages/index/header-section/slide-#{$item}.jpg')
        center
        center
        no-repeat;
      background-size: cover;
    }
  }

  .swiper-slide__upper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 52.5%;
    padding-left: 405px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 768px) {
      height: 40%;
      padding-left: 200px;
      border-bottom: none;
    }

    @media screen and (max-width: 450px) {
      padding-left: 110px;
    }
  }

  .swiper-slide__title {
    @include font(600, 5.625rem, #fff);

    text-transform: none;
    cursor: default;

    @media screen and (max-width: 1024px) {
      font-size: 4rem;
    }
  }

  .swiper-slide__lower {
    display: flex;
    padding-top: 60px;
    padding-left: 405px;

    @media screen and (max-width: 1024px) {
      padding-left: 65px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    @media screen and (max-width: 450px) {
      padding-left: 20px;
    }
  }

  .swiper-slide__btn {
    @include font(600, 13px, #fff);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 50px;
    margin-right: 80px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    background-color: $accent-color;
    border: 2px solid $accent-color;
    transition: 0.2s all ease;

    @media screen and (max-width: 768px) {
      margin-bottom: 50px;
    }

    &:hover {
      color: darken(#fff, 5%);
      background-color: darken($accent-color, 5%);
      border: 2px solid darken($accent-color, 5%);
      transition: 0.2s all ease;
    }
  }

  .swiper-slide__text {
    @include font(400, 1rem, #fff);

    z-index: 10;
    max-width: 330px;
    margin-top: -7px;
    line-height: 140%;
    cursor: default;

    @media screen and (max-width: 768px) {
      font-size: 0.9rem;
    }

    @media screen and (max-width: 450px) {
      max-width: 280px;
    }
  }

  .swiper-pagination {
    margin-bottom: 45px;
    margin-left: 60px;
    text-align: left;

    @media screen and (max-width: 450px) {
      margin-left: 20px;
    }
  }

  .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 1;
  }

  .swiper-pagination-bullet:not(:last-child) {
    margin-right: 18px;
  }

  .swiper-pagination-bullet-active {
    background-color: $accent-color;
  }
}

.portfolio {
  @include section-popup-onscroll;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, 566px);
  width: 100%;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, 400px);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio__card:hover {
    background: none;
  }

  @for $item from 1 through 5 {
    .portfolio__card--#{$item} {
      background: url('../../images/pages/index/portfolio-section/pic-#{$item}.jpg')
        center
        center
        no-repeat;
      background-size: cover;
    }
  }

  .portfolio__card--2 {
    grid-column: 2 / 4;

    @media screen and (max-width: 1024px) {
      grid-column: auto;
    }
  }

  .portfolio__card--5 {
    @media screen and (max-width: 1024px) {
      grid-column: 1 / 3;
    }

    @media screen and (max-width: 768px) {
      grid-column: auto;
    }
  }
}

.trends {
  @include section-popup-onscroll;

  padding-top: 200px;

  @media screen and (max-width: 1024px) {
    padding-top: 100px;
  }

  @media screen and (max-width: 450px) {
    padding-top: 50px;
  }

  .trends__upper {
    display: flex;
    min-height: 566px;

    @media screen and (max-width: 1250px) {
      padding-left: 40px;
    }

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      padding-right: 40px;
    }

    @media screen and (max-width: 450px) {
      @include pl-pr(20px);
    }
  }

  .trends__upper-left {
    width: 50%;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  .trends__title {
    @include font(600, 3.5rem);

    max-width: 190px;
    margin-bottom: 200px;
    text-transform: capitalize;
    letter-spacing: 0.1rem;

    @media screen and (max-width: 1024px) {
      margin: 0 auto 70px;
    }

    @media screen and (max-width: 450px) {
      max-width: 140px;
      margin-bottom: 50px;
      font-size: 2.5rem;
    }
  }

  .trends__title-span {
    color: $accent-color;
  }

  .trends__upper-text {
    @include font(400, 1rem);

    max-width: 405px;
    line-height: 140%;

    @media screen and (max-width: 1024px) {
      margin: 0 auto 40px;
      text-align: center;
    }

    @media screen and (max-width: 450px) {
      font-size: 0.9rem;
    }
  }

  .trends__upper-right {
    position: absolute;
    left: 50%;
    width: 950px;
    height: 566px;
    background: url('../../images/pages/index/trends-section/interior-1.jpg')
      center center no-repeat;
    background-size: cover;

    @media screen and (max-width: 1024px) {
      position: static;
      width: 100%;
      height: 400px;
    }

    @media screen and (max-width: 450px) {
      height: 300px;
    }
  }

  .trends__lower {
    display: flex;
    padding-top: 150px;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
      padding-top: 100px;
    }

    @media screen and (max-width: 450px) {
      padding-top: 50px;
    }
  }

  .trends__lower-left {
    display: flex;
    justify-content: flex-end;
    width: 50%;

    @media screen and (max-width: 1200px) {
      justify-content: center;
      width: 100%;
      padding-bottom: 100px;
    }

    @media screen and (max-width: 450px) {
      padding-bottom: 70px;
    }
  }

  .trends__lower-left-wrapper {
    width: 555px;
    min-height: 505px;
    padding: 67px 0 84px 50px;
    background-color: #f9f9f9;

    @media screen and (max-width: 650px) {
      width: 100%;
    }

    @media screen and (max-width: 450px) {
      min-height: 420px;
    }
  }

  .trends__lower-number {
    @include font(600, 7rem, $accent-color);
    // line-height: 90px;
    margin-bottom: 55px;

    @media screen and (max-width: 450px) {
      margin-bottom: 30px;
      font-size: 6rem;
    }
  }

  .trends__lower-left-title {
    margin-bottom: 80px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #000;

    @media screen and (max-width: 450px) {
      margin-bottom: 50px;
      font-size: 1.2rem;
    }
  }

  .trends__lower-text {
    @include font(400, 1rem);

    max-width: 330px;
    margin-left: auto;
    line-height: 140%;
    text-align: center;

    @media screen and (max-width: 450px) {
      padding-right: 20px;
    }
  }

  .trends__lower-right {
    width: 50%;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  .trends__lower-right-title {
    @include font(700, 1.625rem);

    margin-bottom: 30px;
    margin-left: 150px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;

    @media screen and (max-width: 450px) {
      font-size: 1.2rem;
    }
  }

  .trends__video-wrapper {
    @extend %centering-flex-container;

    position: relative;
    margin-left: 150px;
    cursor: pointer;

    @media screen and (max-width: 1700px) {
      margin-left: 50px;
    }

    @media screen and (max-width: 1200px) {
      margin-left: 0;
    }
  }

  .trends__play-btn {
    position: absolute;
    z-index: 10;
    width: 110px;
    height: 110px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;

    @media screen and (max-width: 450px) {
      width: 90px;
      height: 90px;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 53%;
      width: 20px;
      height: 22px;
      content: url('../../images/general.imgs/video-arrow.png');
      transform: translate(-50%, -50%);
    }
  }

  .trends__play-btn--inactive {
    display: none;
  }

  .trends__video {
    width: 900px;
    height: 505px;
    object-fit: cover;

    @media screen and (max-width: 1500px) {
      width: 100%;
      height: 505px;
    }

    @media screen and (max-width: 1200px) {
      @include pl-pr(40px);
    }

    @media screen and (max-width: 900px) {
      height: 350px;
    }

    @media screen and (max-width: 550px) {
      height: 250px;
    }

    @media screen and (max-width: 450px) {
      @include pl-pr(20px);
    }
  }
}

.clients {
  @include section-popup-onscroll;

  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;

  @media screen and (max-width: 1024px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (max-width: 450px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .clients__upper {
    display: flex;
    justify-content: flex-end;
  }

  .clients__title {
    @include font(700, 1.5rem);

    position: absolute;
    left: 0;
    width: 730px;
    text-align: right;
    border-bottom: 1px solid #000;

    @media screen and (max-width: 1024px) {
      width: 400px;
    }

    @media screen and (max-width: 450px) {
      width: 280px;
      font-size: 1.2rem;
    }
  }

  .clients__lower {
    padding-top: 230px;

    @media screen and (max-width: 1024px) {
      padding-top: 100px;
    }

    @media screen and (max-width: 450px) {
      padding-top: 70px;
    }
  }

  @media screen and (max-width: 1024px) {
    .clients__carousel {
      display: flex;
      flex-direction: column;
    }
  }

  .clients__carousel-slide {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .clients__carousel-slide--1,
  .clients__carousel-slide--2 {
    display: none;
  }

  .clients__carousel-slide--active {
    display: flex;
  }

  .clients__lower--left,
  .clients__lower--right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
  }

  @media screen and (max-width: 1024px) {
    .clients__lower--left,
    .clients__lower--right {
      align-items: center;
      width: 100%;
    }

    .clients__lower--left {
      margin-bottom: 70px;
    }
  }

  .clients__pic {
    align-self: center;
    width: 265px;
    height: 265px;
    margin-bottom: 80px;
    background-color: #f8f8f8;
    border-radius: 50%;

    @media screen and (max-width: 450px) {
      margin-bottom: 50px;
    }
  }

  @for $item from 1 through 4 {
    .clients__pic--#{$item} {
      background: url('../../images/pages/index/clients-section/person-#{$item}.jpg');
      background-size: cover;
    }
  }

  .clients__pic--1,
  .clients__pic--2 {
    background-position-x: -15px;
  }

  .clients__name {
    @include font(700, 1.5rem);

    position: relative;
    width: 480px;
    margin-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    border-bottom: 1px solid #000;

    @media screen and (max-width: 520px) {
      width: 300px;
    }

    @media screen and (max-width: 450px) {
      font-size: 1.2rem;
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 37px;
      height: 33px;
      content: url('../../images/pages/index/clients-section/q-marks.svg');
    }
  }

  .clients__text {
    @include font(400, 1rem);

    max-width: 300px;
    height: 120px;
    overflow: hidden;
    line-height: 140%;
    text-align: right;
    text-align: center;

    @media screen and (max-width: 520px) {
      font-size: 0.9rem;
    }
  }
}

.news {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #f9f9f9;

  @media screen and (max-width: 1250px) {
    @include pl-pr(40px);
  }

  @media screen and (max-width: 1024px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (max-width: 450px) {
    @include pl-pr(20px);

    padding-top: 50px;
    padding-bottom: 50px;
  }

  .news__container {
    @include section-popup-onscroll;

    display: flex;
  }

  .news__side {
    width: 50%;
  }

  @media screen and (max-width: 1100px) {
    .news__side--left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  .news__title {
    @include font(600, 3.5rem);

    margin-bottom: 200px;
    text-transform: capitalize;

    @media screen and (max-width: 1100px) {
      margin-bottom: 100px;
    }
  }

  .news__accordion-tab {
    max-width: 485px;
  }

  .news__accordion-tab-upper {
    @include flex(space-between, center);

    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    border-bottom: 1px solid #000;
  }

  .news__accordion-title {
    @include font(600, 1rem);

    text-transform: uppercase;
    letter-spacing: 0.03rem;
    transition: 0.2s color ease;
  }

  .news__accordion-title {
    text-transform: uppercase;
  }

  .news__accordion-tab-upper:hover .news__accordion-title {
    color: $accent-color;
    transition: 0.2s color ease;
  }

  .news__accordion-btn {
    @extend %centering-flex-container;

    display: flex;
    width: 25px;
    height: 25px;
    padding-left: 2px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    transition: 0.2s all ease;
  }

  .news__accordion-tab-upper:hover .news__accordion-btn {
    background-color: $accent-color;
    border: none;
    transition: 0.2s all ease;
  }

  .news__accordion-arrow {
    display: block;
    width: 8px;
    height: 8px;
    margin-left: 4px;
  }

  .news__accordion-arrow--active {
    transform: rotate(90deg);
  }

  .news__accordion-tab-lower {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 0;
    visibility: hidden;
    // overflow: hidden;
    opacity: 0;
    transition: 0.2s all linear;
  }

  .news__accordion-tab-lower--active {
    height: 100%;
    padding: 40px 0 40px;
    visibility: visible;
    opacity: 1;
    transition: 0.2s all linear;
  }

  .news__accordion-link {
    margin-right: 20px;
    color: $accent-color;
    transition: 0.2s color ease;

    &:hover {
      color: darken($accent-color, 10%);
      transition: 0.2s color ease;
    }
  }

  .news__acccordion-text {
    @include font(400, 1rem);

    max-width: 400px;
    line-height: 140%;

    @media screen and (max-width: 450px) {
      font-size: 0.9rem;
    }
  }

  .news__side--right {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 1100px) {
      display: none;
    }
  }

  .news__pic {
    width: 485px;
    height: 505px;
    background: url('../../images/pages/index/news-section/interior-1.jpg')
      no-repeat;
    background-size: cover;
  }
}
