@import "../../../ancillary-styles/_vars";
@import "../../../ancillary-styles/_mixins";
@import "../../../ancillary-styles/_common.styles";

@import "../../../common-blocks/header-upper/_header-upper";
@import "../../../common-blocks/_card";
@import "../../../common-blocks/_socials";
@import "../../../common-blocks/_brands";
@import "../../../common-blocks/_footer";
@import "../../../common-blocks/services/_services";

.header {
  // background-color: teal;
  width: 100vw;
  height: 100vh;

  @media screen and (max-width: 768px) {
    & {
      // width: 70vw;
      height: 70vh;
    }
  }

  // position: relative;

  // width: 100%;
  // height: 100%;

  .header__upper {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
  }

  // .header__call {
  //   position: absolute;
  //   // left: auto;
  //   margin-left: none;
  //   right: 0;
  // }

  .header__menu-item-link {
    color: #fff;
    transition: 0.2s color ease;
  }

  .header__menu-item-link:hover {
    color: $accent-color;
    transition: 0.2s color ease;
  }

  .header__call-link {
    color: #fff;
  }

  // .header__lower {
  //   position: relative; // ?
  // }

  .swiper-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  @media screen and (max-width: 768px) {
    .swiper-container {
      // width: 100vw;
      height: 70vh;
    }
  }

  .swiper-wrapper {
    // width: 100vw;
    // height: 100vh;
  }

  // .swiper-slide {
  //   overflow: hidden;
  // }

  .swiper-button-prev,
  .swiper-button-next {
    width: 20px;
    height: 45px;
    color: #fff;
    transition: 0.2s all ease;
  }

  .swiper-button-prev {
    left: 65px;
    // top: 0;
  }

  .swiper-button-next {
    left: 120px;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    color: $accent-color;
    transition: 0.2s all ease;
  }

  .swiper-scrollbar {
    display: none;
  }

  .swiper-slide {
    width: 100vw;
    height: 100vh;
  }

  .swiper-slide__first {
    background: url("../../../images/pages/index-page/header-section/exterior-2.jpg")
      no-repeat;
    background-size: cover;
    // background-position-y: -200px; // изменить картинку или позиционирование в адаптиве
  }

  .swiper-slide__second {
    background: url("../../../images/pages/index-page/header-section/interior-1.jpg")
      no-repeat;
    background-size: cover;
    // background-position-y: -200px;
  }

  .swiper-slide__third {
    background: url("../../../images/pages/index-page/header-section/exterior-1.jpg")
      no-repeat;
    background-size: cover;
    // background-position-y: -100px;
  }

  .swiper-slide__upper,
  .swiper-slide__lower {
    height: 35vh;
  }

  .swiper-slide__upper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 405px;

    height: 52.5%;
  }

  @media screen and (max-width: 768px) {
    .swiper-slide__upper {
      padding-left: 200px;
    }
  }

  .swiper-slide__title {
    @include font(600, 5.625rem, #fff);
    // line-height: 70px;

    // line-height: 80%;

    text-transform: capitalize;

    cursor: default;
  }

  .swiper-slide__lower {
    display: flex;
    padding-left: 405px;
    padding-top: 60px;
  }

  @media screen and (max-width: 1024px) {
    .swiper-slide__lower {
      padding-left: 65px;
    }
  }

  .swiper-slide__btn {
    width: 230px;
    height: 50px;

    border: none;
    outline: 2px solid $accent-color;
    margin-right: 80px;
    @include font(600, 13px, #fff);
    font-family: inherit;
    background-color: $accent-color;
    transition: 0.2s all ease;
  }

  .swiper-slide__btn:hover {
    outline: 2px solid darken($accent-color, 5%);
    color: darken(#fff, 5%);
    background-color: darken($accent-color, 5%);
    transition: 0.2s all ease;
  }

  .swiper-slide__text {
    max-width: 330px;
    z-index: 10;

    @include font(400, 1rem, #fff);
    // font-weight: 400;
    // font-size: 16px;
    line-height: 140%;
    margin-top: -7px;
    cursor: default;
  }

  .swiper-pagination {
    text-align: left;
    margin-left: 60px;
    margin-bottom: 45px;
  }

  .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 1;
  }

  .swiper-pagination-bullet:not(:last-child) {
    margin-right: 18px;
  }

  .swiper-pagination-bullet-active {
    background-color: $accent-color;
  }
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, 566px);
  width: 100%;

  .portfolio__card {
    // background-size: cover;
  }

  .portfolio__card:hover {
    background: none;
  }

  .portfolio__card--first {
    background: url("../../../images/pages/index-page/portfolio-section/interior-1-cut.jpg")
      no-repeat;
    background-size: cover;
  }

  .portfolio__card--second {
    background: url("../../../images/pages/index-page/portfolio-section/interior-2-cut.jpg")
      no-repeat;
    background-size: cover;
  }

  .portfolio__card--third {
    background: url("../../../images/pages/index-page/portfolio-section/exterior-1-cut.jpg")
      no-repeat;
    background-size: cover;
  }

  .portfolio__card--fourth {
    background: url("../../../images/pages/index-page/portfolio-section/interior-3-cut.jpg")
      no-repeat;
    background-size: cover;
  }

  .portfolio__card--fifth {
    background: url("../../../images/pages/index-page/portfolio-section/extrior-2.jpg")
      no-repeat;
    background-size: cover;
  }

  .portfolio__card--second {
    grid-column: 2 / 4;
  }
}

.trends {
  padding-top: 260px;

  // .trends__container {
  // }

  .trends__upper {
    display: flex;
    min-height: 566px;
  }

  .trends__upper-left {
    width: 50%;
  }

  .trends__title {
    max-width: 190px;
    @include font(600, 3.5rem);
    // line-height: 100%; // ? заменить везде % или оставить пиксели

    // line-height: 80%;

    text-transform: capitalize;

    letter-spacing: 0.1rem; // ? rem или em
    margin-bottom: 200px;
  }

  .trends__title-span {
    color: $accent-color;
  }

  .trends__upper-text {
    max-width: 405px;
    @include font(400, 1rem);
    line-height: 140%;
  }

  .trends__upper-right {
    // width: 50%;
    position: absolute;
    // right: 0;
    left: 50%;
    width: 950px;
    height: 566px;
  }

  .trends__upper-right {
    background: url("../../../images/pages/index-page/trends-section/interior-1.jpg")
      no-repeat;
    background-size: cover;
  }

  .trends__lower {
    padding-top: 150px;
    display: flex;
  }

  .trends__lower-left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .trends__lower-left-wrapper {
    padding: 67px 0 84px 50px;
    background-color: #f9f9f9;

    width: 555px;
    min-height: 505px;
  }

  .trends__lower-number {
    color: $accent-color;
    font-weight: 600;
    font-size: 110px;
    line-height: 90px;

    margin-bottom: 55px;
  }

  .trends__lower-left-title {
    border-bottom: 1px solid #000;
    font-weight: bold;
    font-size: 24px;
    // line-height: 20px;
    // line-height: 80%;
    // letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 80px;
  }

  .trends__lower-text {
    max-width: 330px;
    text-align: center;
    margin-left: auto;

    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
  }

  .trends__lower-right {
    width: 50%;
  }

  .trends__lower-right-title {
    border-bottom: 1px solid #000;
    margin-left: 150px;

    @include font(700, 1.625rem);

    // line-height: 80%;
    // letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  .trends__video {
    width: 100%;
  }
}

.clients {
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;

  // background-color: #f9f9f9;

  .clients__title {
    position: absolute;
    left: 0;
  }

  .clients__upper {
    display: flex;
    justify-content: flex-end;
    // align-items: flex-start;
  }

  .clients__title {
    width: 730px;
    border-bottom: 1px solid #000;
    text-align: right;

    // line-height: 80%;

    @include font(700, 1.5rem);
    // line-height: 80%;
    // letter-spacing: 0.em;
  }

  .clients__arrow-wrapper {
    display: flex;
  }

  .clients__arrow--left {
    margin-right: 35px;
  }

  .clients__arrow {
    transition: 0.2s all ease;
    cursor: pointer;
  }

  .clients__arrow:hover .clients__arrow-line {
    stroke: #f27935;
    transition: 0.2s all ease;
  }

  .clients__lower {
    padding-top: 230px;
  }

  .clients__carousel {
    display: flex;
  }

  .clients__lower--left,
  .clients__lower--right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    // border: 1px solid #000;
  }

  .clients__pic {
    width: 265px;
    height: 265px;
    border-radius: 50%;
    background-color: #f8f8f8;
    margin-bottom: 80px;
    align-self: center;
  }

  .clients__pic--first {
    background: url("../../../images/pages/index-page/clients-section/person-2.jpg");
    background-size: cover;
    background-position-x: -15px;
  }

  .clients__pic--second {
    background: url("../../../images/pages/index-page/clients-section/person-1.jpg");
    background-size: cover;
    background-position-x: -15px;
  }

  .clients__name {
    border-bottom: 1px solid #000;
    width: 480px;
    margin-bottom: 35px;
    position: relative;

    @include font(700, 1.5rem);
    // line-height: 80%;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
  }

  .clients__name::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: url("../../../images/pages/index-page/clients-section/q-marks.svg");
    width: 37px;
    height: 33px;
  }

  .clients__text {
    max-width: 300px;
    text-align: right;
    @include font(400, 1rem);
    line-height: 140%;
  }
}

.news {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #f9f9f9;

  .news__container {
    display: flex;
  }

  .news__side {
    width: 50%;

    // border: 1px solid #000;
  }

  .news__side-left {
    // flex-direction: column;
    // justify-content: space-between;
  }

  .news__title {
    margin-bottom: 200px;

    @include font(600, 3.5rem);
    // line-height: 80%;

    text-transform: capitalize;
  }

  .news__accordion-tab {
    max-width: 485px;
    // display: flex;
    // flex-direction: column;
  }

  .news__accordion-tab-upper {
    border-bottom: 1px solid #000;
    @include flex(space-between, center);
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
  }

  .news__accordion-title {
    @include font(600, 1rem);
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    transition: 0.2s color ease;
  }

  .news__accordion-tab-upper:hover .news__accordion-title {
    color: $accent-color;
    transition: 0.2s color ease;
  }

  .news__accordion-tab-upper:hover .news__accordion-btn {
    background-color: $accent-color;
    transition: 0.2s all ease;
    border: none;
  }

  .news__accordion-title {
    text-transform: uppercase;
  }

  .news__accordion-btn {
    @extend %centering-flex-container;
    padding-left: 2px;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 50%;

    transition: 0.2s all ease;
  }

  .news__accordion-arrow {
    display: block;
  }

  .news__accordion-arrow--active {
    transform: rotate(90deg);
  }

  .news__accordion-tab-lower {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // padding-top: 40px;
    // padding-bottom: 40px;

    // height: 145px;
    // height: 0;
    height: 0;

    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }

  .news__accordion-tab--slide-down {
    animation: slide-down-accordion-tab-lower 0.5s forwards;
  }

  @keyframes slide-down-accordion-tab-lower {
    0% {
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    100% {
      height: 145px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .news__accordion-tab--slide-up {
    animation: slide-up-accordion-tab-lower 0.5s forwards;
  }

  @keyframes slide-up-accordion-tab-lower {
    0% {
      height: 145px;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    100% {
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .news__accordion-link {
    color: $accent-color;
    transition: 0.2s color ease;
  }

  .news__accordion-link:hover {
    color: darken($accent-color, 10%);
    transition: 0.2s color ease;
  }

  .news__acccordion-text {
    max-width: 400px;
    @include font(400, 1rem);
    line-height: 140%;
    height: 66px;
    overflow: hidden;
  }

  .news__side--right {
    display: flex;
    justify-content: flex-end;
  }

  .news__pic {
    width: 485px;
    height: 505px;

    background: url("../../../images/pages/index-page/news-section/interior-1.jpg")
      no-repeat;
    background-size: cover;
  }
}
