.card__link, .services .services__list-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: "SF Pro Display", sans-serif;
}

a {
  text-decoration: none;
  outline: none;
}

::-moz-selection {
  background-color: #f8b995;
}

::selection {
  background-color: #f8b995;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 60px 0;
  background-color: transparent;
}

@media screen and (max-width: 1350px) {
  .header__upper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo {
  width: 140px;
  min-height: 40px;
  margin-right: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .header__logo {
    margin-right: auto;
  }
}

.header__logo-architecture {
  display: block;
  margin-top: 2px;
  margin-left: 42px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1350px) {
  .header__menu-item:not(:last-child) {
    margin-right: 25px;
  }
}

.header__menu-item-link {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 14px;
  color: #000;
  font-family: 'SF Pro Display';
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.header__menu-item-link:hover {
  color: #f27935;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header__call-text {
  margin-right: 12px;
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 18px;
  color: #f27935;
}

.header__call-link {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.card {
  position: relative;
  padding: 50px 0 60px 40px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.card:hover {
  background: none;
  background-color: #fff;
  outline: 1px solid black;
}

.card:hover .card__info {
  visibility: visible;
  opacity: 1;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.card__info {
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.card__category {
  position: absolute;
  top: 50px;
  right: 32px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.card__title {
  border-bottom: 1px solid #000;
  margin-bottom: 55px;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.card__title:first-line {
  line-height: 30px;
}

.card__text {
  max-width: 330px;
  min-height: 130px;
  margin-left: auto;
  margin-right: 30px;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
}

.card__link {
  position: absolute;
  bottom: 38px;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  color: #000;
  -webkit-transition: .3s transform ease;
  transition: .3s transform ease;
  width: 88px;
  height: 88px;
  background-color: #f27935;
  border-radius: 50%;
}

.card__link:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: .3s transform ease;
  transition: .3s transform ease;
}

.card__link::after {
  content: url(/images/white-right-arrow.png);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__link {
  width: 20px;
  height: 20px;
  display: block;
}

.socials__link:hover {
  opacity: .7;
}

.socials__item:not(:last-child) {
  margin-right: 30px;
}

.socials__link--first {
  background: url("/images/socials/fb.png") no-repeat;
}

.socials__link--second {
  background: url("/images/socials/tw.png") no-repeat 0 2px;
}

.socials__link--third {
  background: url("/images/socials/inst.png") no-repeat;
}

.brands__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 200px 0;
}

@media screen and (max-width: 1550px) {
  .brands__container {
    padding: 175px 0;
  }
}

.brands__item--first {
  width: 150px;
  height: 45px;
  background: url(/images/brands/creative.png) no-repeat;
}

.brands__item--second {
  width: 141px;
  height: 37px;
  background: url(/images/brands/at.png) no-repeat;
}

.brands__item--third {
  width: 104px;
  height: 38px;
  background: url(/images/brands/neuton.png) no-repeat;
}

.brands__item--fourth {
  width: 135px;
  height: 35px;
  background: url(/images/brands/francois.png) no-repeat;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 120px;
  padding-bottom: 110px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-right: 60px;
  padding-left: 60px;
  width: 100%;
}

.footer__rights-span {
  margin-top: 10px;
  display: block;
}

.footer__rights {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__menu-link {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 14px;
  color: #000;
  line-height: 140%;
  font-family: inherit;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.footer__menu-link:hover {
  color: #f27935;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.footer__languages-item {
  text-transform: uppercase;
  cursor: pointer;
}

.footer__languages-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__languages-item:first-child {
  color: #f27935;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f9f9;
  padding-bottom: 165px;
  padding-top: 170px;
}

@media screen and (max-width: 1550px) {
  .services {
    padding-bottom: 82.5px;
    padding-top: 85px;
  }
}

.services .services__left {
  width: 50%;
}

.services .services__title {
  max-width: 530px;
  border-bottom: 1px solid #000;
  text-align: right;
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 25px;
  color: #000;
  line-height: 22px;
}

@media screen and (max-width: 1550px) {
  .services .services__title {
    max-width: 410px;
  }
}

.services .services__right {
  width: 50%;
}

.services .services__list-item {
  max-width: 555px;
  margin-bottom: 6px;
}

.services .services__list-item-upper {
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 7px;
  cursor: pointer;
}

.services .services__list-item-title {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 15px;
  color: #000;
}

.services .services__list-item-btn {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #000;
  background-color: transparent;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.services .services__list-item-btn--active {
  background-color: #f27935;
  border: none;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.services .services__list-item-btn:hover {
  background-color: #f27935;
  border: none;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.services .services__list-item-btn-down-arrow {
  background-image: url(/images/black-down-arrow.svg);
  background-position: center center;
  width: 7px;
  height: 7px;
}

.services .services__list-item-btn-down-arrow--active {
  background-image: url(/images/white-up-arrow.png);
}

.services .services__list-item-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
  height: 0;
  z-index: -5;
}

.services .services__list-item-lower--active {
  padding: 40px 0 40px;
  opacity: 1;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
  height: 100%;
  visibility: visible;
}

.services .services__list-item-link {
  margin-top: auto;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 15px;
  color: #000;
  color: #f27935;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.services .services__list-item-link:after {
  content: url(/images/orange-arrow.png);
  padding-left: 8px;
}

.services .services__list-item-link:hover {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.services .services__list-item-text {
  width: 380px;
  text-align: right;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 15px;
  color: #000;
  line-height: 140%;
}

.header {
  width: 100%;
  height: 100%;
}

.header .header__upper {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
}

.header .header__menu-item-link {
  color: #fff;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.header .header__menu-item-link:hover {
  color: #f27935;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.header .header__call-link {
  color: #fff;
}

.header .swiper-container {
  position: relative;
}

.header .swiper-wrapper {
  width: 100vw;
  height: 100vh;
}

.header .swiper-button-prev,
.header .swiper-button-next {
  width: 20px;
  height: 45px;
  color: #fff;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.header .swiper-button-prev {
  left: 65px;
}

.header .swiper-button-next {
  left: 120px;
}

.header .swiper-button-prev:hover,
.header .swiper-button-next:hover {
  color: #f27935;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.header .swiper-scrollbar {
  display: none;
}

.header .swiper-slide__first {
  background: url("../../../images/exterior-1.jpg") no-repeat;
  background-size: cover;
}

.header .swiper-slide__second {
  background: url("../../../images/exterior-2.jpg") no-repeat;
  background-size: cover;
}

.header .swiper-slide__third {
  background: url("../../../images/exterior-3.jpg") no-repeat;
  background-size: cover;
}

.header .swiper-slide__upper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 405px;
  height: 52.5%;
}

.header .swiper-slide__title {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 5.625rem;
  color: #fff;
  line-height: 70px;
  cursor: default;
}

.header .swiper-slide__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 405px;
  padding-top: 60px;
}

.header .swiper-slide__btn {
  width: 230px;
  height: 50px;
  border: none;
  outline: 2px solid #f27935;
  margin-right: 80px;
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  font-family: inherit;
  background-color: #f27935;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.header .swiper-slide__btn:hover {
  outline: 2px solid #f0691d;
  color: #f2f2f2;
  background-color: #f0691d;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.header .swiper-slide__text {
  max-width: 330px;
  z-index: 10;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  line-height: 140%;
  margin-top: -7px;
  cursor: default;
}

.header .swiper-pagination {
  text-align: left;
  margin-left: 60px;
  margin-bottom: 45px;
}

.header .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
}

.header .swiper-pagination-bullet:not(:last-child) {
  margin-right: 18px;
}

.header .swiper-pagination-bullet-active {
  background-color: #f27935;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, 566px);
  width: 100%;
}

.portfolio .portfolio__card {
  border: 1px solid #000;
}

.portfolio .portfolio__card--second {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.trends .trends__container {
  padding-top: 260px;
}

.trends .trends__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 566px;
}

.trends .trends__upper-left {
  width: 50%;
}

.trends .trends__title {
  max-width: 190px;
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 3.5rem;
  color: #000;
  line-height: 100%;
  letter-spacing: 0.1rem;
  margin-bottom: 200px;
}

.trends .trends__title-span {
  color: #f27935;
}

.trends .trends__upper-text {
  max-width: 405px;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  line-height: 140%;
}

.trends .trends__upper-right {
  position: absolute;
  right: 0;
  width: 950px;
  height: 566px;
}

.trends .trends__upper-right {
  background: url("../../../images/portfolio/divan.jpg") no-repeat;
  background-size: cover;
}

.trends .trends__lower {
  padding-top: 150px;
}

.trends .trends__lower-left {
  width: 50%;
  padding: 67px 0 84px 50px;
  background-color: #f9f9f9;
}

.trends .trends__lower-number {
  color: #f27935;
  font-weight: 600;
  font-size: 110px;
  line-height: 90px;
  margin-bottom: 55px;
}

.trends .trends__lower-title {
  border-bottom: 1px solid #000;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.trends .trends__lower-text {
  max-width: 330px;
  text-align: center;
  margin-left: auto;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
}
/*# sourceMappingURL=index.css.map */