.card__link, .services .services__list-item-btn, .news .news__accordion-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: "SF Pro Display", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  line-height: 80%;
}

a {
  text-decoration: none;
  outline: none;
  font-family: "SF Pro Display", sans-serif;
}

::-moz-selection {
  background-color: #f8b995;
}

::selection {
  background-color: #f8b995;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 60px 0;
  background-color: transparent;
}

@media screen and (max-width: 1350px) {
  .header__upper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .header__upper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.header__mobile-btn--open {
  display: none;
}

@media screen and (max-width: 992px) {
  .header__mobile-btn--open {
    background: url("/images/common-blocks/header-upper/burger-white.png") no-repeat;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
    visibility: visible;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
  }
}

.header__mobile-btn--inactive {
  visibility: hidden;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header__logo {
  width: 140px;
  min-height: 40px;
  margin-right: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .header__logo {
    margin-right: auto;
  }
}

@media screen and (max-width: 992px) {
  .header__logo {
    margin-right: 0;
  }
}

.header__logo-architecture {
  display: block;
  margin-top: 2px;
  margin-left: 42px;
}

@media screen and (max-width: 992px) {
  .header__nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    right: -250px;
    padding: 40px;
    height: 100vh;
    padding-top: 100px;
    z-index: 10;
  }
}

.header__nav--active {
  display: block;
  -webkit-animation: slide-in-mobile-menu 1s forwards ease;
          animation: slide-in-mobile-menu 1s forwards ease;
}

@-webkit-keyframes slide-in-mobile-menu {
  0% {
    right: -250px;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-in-mobile-menu {
  0% {
    right: -250px;
  }
  100% {
    right: 0;
  }
}

.header__nav--inactive {
  -webkit-animation: slide-out-mobile-menu 1s forwards ease;
          animation: slide-out-mobile-menu 1s forwards ease;
}

@-webkit-keyframes slide-out-mobile-menu {
  0% {
    right: 0;
  }
  100% {
    right: -250px;
  }
}

@keyframes slide-out-mobile-menu {
  0% {
    right: 0;
  }
  100% {
    right: -250px;
  }
}

.header__mobile-btn--close {
  display: none;
}

@media screen and (max-width: 992px) {
  .header__mobile-btn--close {
    background: url("/images/common-blocks/header-upper/close.png") no-repeat;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__menu-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1350px) {
  .header__menu-item:not(:last-child) {
    margin-right: 25px;
  }
}

@media screen and (max-width: 992px) {
  .header__menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.header__menu-item-link {
  font-weight: 600;
  font-size: 14px;
  color: #000;
  font-family: "SF Pro Display";
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

@media screen and (max-width: 992px) {
  .header__menu-item-link {
    color: #f27935 !important;
  }
}

.header__menu-item-link:hover {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 992px) {
  .header__call {
    margin-left: none;
    margin-right: auto;
  }
}

@media screen and (max-width: 700px) {
  .header__call {
    display: none;
  }
}

.header__call-text {
  margin-right: 12px;
  font-weight: 600;
  font-size: 18px;
  color: #f27935;
}

.header__call-link {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.card {
  position: relative;
  padding: 50px 0 60px 40px;
}

.card:hover {
  background: none;
  background-color: #fff;
  z-index: 10;
}

.card:hover .card__info {
  visibility: visible;
  opacity: 1;
}

.card__info {
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.card__category {
  position: absolute;
  top: 50px;
  right: 32px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.card__title {
  border-bottom: 1px solid #000;
  margin-bottom: 55px;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.card__title:first-line {
  line-height: 30px;
}

.card__text {
  max-width: 330px;
  min-height: 130px;
  margin-left: auto;
  margin-right: 30px;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
}

.card__link {
  position: absolute;
  bottom: 38px;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  color: #000;
  -webkit-transition: .3s transform ease;
  transition: .3s transform ease;
  width: 88px;
  height: 88px;
  background-color: #f27935;
  border-radius: 50%;
}

.card__link:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: .2s transform ease;
  transition: .2s transform ease;
}

.card__link::after {
  content: url(/images/white-right-arrow.png);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__link {
  width: 20px;
  height: 20px;
  display: block;
}

.socials__link:hover {
  opacity: .7;
}

.socials__item:not(:last-child) {
  margin-right: 30px;
}

.socials__link--first {
  background: url("/images/socials/fb.png") no-repeat;
}

.socials__link--second {
  background: url("/images/socials/tw.png") no-repeat 0 2px;
}

.socials__link--third {
  background: url("/images/socials/inst.png") no-repeat;
}

.brands__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 200px 0;
}

@media screen and (max-width: 1550px) {
  .brands__container {
    padding: 175px 0;
  }
}

.brands__item--first {
  width: 150px;
  height: 45px;
  background: url("/images/common-blocks/brands/creative.png") no-repeat;
}

.brands__item--second {
  width: 141px;
  height: 37px;
  background: url("/images/common-blocks/brands/at.png") no-repeat;
}

.brands__item--third {
  width: 104px;
  height: 38px;
  background: url("/images/common-blocks/brands/neuton.png") no-repeat;
}

.brands__item--fourth {
  width: 135px;
  height: 35px;
  background: url("/images/common-blocks/brands/francois.png") no-repeat;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 120px 60px 110px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 70px;
    padding-bottom: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer > *:not(:last-child) {
  margin-right: 40px;
  margin-bottom: 40px;
}

.footer__logo {
  display: block;
}

.footer__rights-span {
  margin-top: 10px;
  display: block;
}

.footer__rights {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__menu-link {
  font-weight: normal;
  font-size: 14px;
  color: #000;
  line-height: 140%;
  font-family: inherit;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.footer__menu-link:hover {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

@media screen and (max-width: 450px) {
  .footer__languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__languages-item {
  text-transform: uppercase;
  cursor: pointer;
}

.footer__languages-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
  .footer__languages-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.footer__languages-item:first-child {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f9f9;
  padding-bottom: 165px;
  padding-top: 170px;
}

@media screen and (max-width: 1550px) {
  .services {
    padding-bottom: 82.5px;
    padding-top: 85px;
  }
}

.services .services__left {
  width: 50%;
}

.services .services__title {
  max-width: 530px;
  border-bottom: 1px solid #000;
  text-align: right;
  font-weight: 700;
  font-size: 25px;
  color: #000;
}

@media screen and (max-width: 1550px) {
  .services .services__title {
    max-width: 410px;
  }
}

.services .services__right {
  width: 50%;
}

.services .services__list-item {
  max-width: 555px;
  margin-bottom: 6px;
}

.services .services__list-item-upper {
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 7px;
  cursor: pointer;
}

.services .services__list-item-title {
  font-weight: 600;
  font-size: 15px;
  color: #000;
}

.services .services__list-item-btn {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #000;
  background-color: transparent;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.services .services__list-item-btn--active {
  background-color: #f27935;
  border: none;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.services .services__list-item-btn:hover {
  background-color: #f27935;
  border: none;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.services .services__list-item-btn-down-arrow {
  background-image: url(/images/black-down-arrow.svg);
  background-position: center center;
  width: 7px;
  height: 7px;
}

.services .services__list-item-btn-down-arrow--active {
  background-image: url(/images/white-up-arrow.png);
}

.services .services__list-item-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
  height: 0;
  z-index: -5;
}

.services .services__list-item-lower--active {
  padding: 40px 0 40px;
  opacity: 1;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
  height: 100%;
  visibility: visible;
}

.services .services__list-item-link {
  margin-top: auto;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  color: #f27935;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.services .services__list-item-link:after {
  content: url(/images/orange-arrow.png);
  padding-left: 8px;
}

.services .services__list-item-link:hover {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.services .services__list-item-text {
  width: 380px;
  text-align: right;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  line-height: 140%;
}

.header {
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .header {
    height: 70vh;
  }
}

.header .header__upper {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
}

.header .header__menu-item-link {
  color: #fff;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.header .header__menu-item-link:hover {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.header .header__call-link {
  color: #fff;
}

.header .swiper-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .header .swiper-container {
    height: 70vh;
  }
}

.header .swiper-button-prev,
.header .swiper-button-next {
  width: 20px;
  height: 45px;
  color: #fff;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.header .swiper-button-prev {
  left: 65px;
}

.header .swiper-button-next {
  left: 120px;
}

.header .swiper-button-prev:hover,
.header .swiper-button-next:hover {
  color: #f27935;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.header .swiper-scrollbar {
  display: none;
}

.header .swiper-slide {
  width: 100vw;
  height: 100vh;
}

.header .swiper-slide__first {
  background: url("../../../images/pages/index-page/header-section/exterior-2.jpg") no-repeat;
  background-size: cover;
}

.header .swiper-slide__second {
  background: url("../../../images/pages/index-page/header-section/interior-1.jpg") no-repeat;
  background-size: cover;
}

.header .swiper-slide__third {
  background: url("../../../images/pages/index-page/header-section/exterior-1.jpg") no-repeat;
  background-size: cover;
}

.header .swiper-slide__upper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 405px;
  height: 52.5%;
}

@media screen and (max-width: 768px) {
  .header .swiper-slide__upper {
    padding-left: 200px;
  }
}

.header .swiper-slide__title {
  font-weight: 600;
  font-size: 5.625rem;
  color: #fff;
  text-transform: capitalize;
  cursor: default;
}

.header .swiper-slide__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 405px;
  padding-top: 60px;
}

@media screen and (max-width: 1024px) {
  .header .swiper-slide__lower {
    padding-left: 65px;
  }
}

.header .swiper-slide__btn {
  width: 230px;
  height: 50px;
  border: none;
  outline: 2px solid #f27935;
  margin-right: 80px;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  font-family: inherit;
  background-color: #f27935;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.header .swiper-slide__btn:hover {
  outline: 2px solid #f0691d;
  color: #f2f2f2;
  background-color: #f0691d;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.header .swiper-slide__text {
  max-width: 330px;
  z-index: 10;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  line-height: 140%;
  margin-top: -7px;
  cursor: default;
}

.header .swiper-pagination {
  text-align: left;
  margin-left: 60px;
  margin-bottom: 45px;
}

.header .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
}

.header .swiper-pagination-bullet:not(:last-child) {
  margin-right: 18px;
}

.header .swiper-pagination-bullet-active {
  background-color: #f27935;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, 566px);
  width: 100%;
}

.portfolio .portfolio__card:hover {
  background: none;
}

.portfolio .portfolio__card--first {
  background: url("../../../images/pages/index-page/portfolio-section/interior-1-cut.jpg") no-repeat;
  background-size: cover;
}

.portfolio .portfolio__card--second {
  background: url("../../../images/pages/index-page/portfolio-section/interior-2-cut.jpg") no-repeat;
  background-size: cover;
}

.portfolio .portfolio__card--third {
  background: url("../../../images/pages/index-page/portfolio-section/exterior-1-cut.jpg") no-repeat;
  background-size: cover;
}

.portfolio .portfolio__card--fourth {
  background: url("../../../images/pages/index-page/portfolio-section/interior-3-cut.jpg") no-repeat;
  background-size: cover;
}

.portfolio .portfolio__card--fifth {
  background: url("../../../images/pages/index-page/portfolio-section/extrior-2.jpg") no-repeat;
  background-size: cover;
}

.portfolio .portfolio__card--second {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.trends {
  padding-top: 260px;
}

.trends .trends__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 566px;
}

.trends .trends__upper-left {
  width: 50%;
}

.trends .trends__title {
  max-width: 190px;
  font-weight: 600;
  font-size: 3.5rem;
  color: #000;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin-bottom: 200px;
}

.trends .trends__title-span {
  color: #f27935;
}

.trends .trends__upper-text {
  max-width: 405px;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  line-height: 140%;
}

.trends .trends__upper-right {
  position: absolute;
  left: 50%;
  width: 950px;
  height: 566px;
}

.trends .trends__upper-right {
  background: url("../../../images/pages/index-page/trends-section/interior-1.jpg") no-repeat;
  background-size: cover;
}

.trends .trends__lower {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trends .trends__lower-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.trends .trends__lower-left-wrapper {
  padding: 67px 0 84px 50px;
  background-color: #f9f9f9;
  width: 555px;
  min-height: 505px;
}

.trends .trends__lower-number {
  color: #f27935;
  font-weight: 600;
  font-size: 110px;
  line-height: 90px;
  margin-bottom: 55px;
}

.trends .trends__lower-left-title {
  border-bottom: 1px solid #000;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.trends .trends__lower-text {
  max-width: 330px;
  text-align: center;
  margin-left: auto;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
}

.trends .trends__lower-right {
  width: 50%;
}

.trends .trends__lower-right-title {
  border-bottom: 1px solid #000;
  margin-left: 150px;
  font-weight: 700;
  font-size: 1.625rem;
  color: #000;
  text-transform: uppercase;
}

.trends .trends__video {
  width: 100%;
}

.clients {
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
}

.clients .clients__title {
  position: absolute;
  left: 0;
}

.clients .clients__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.clients .clients__title {
  width: 730px;
  border-bottom: 1px solid #000;
  text-align: right;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
}

.clients .clients__arrow-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients .clients__arrow--left {
  margin-right: 35px;
}

.clients .clients__arrow {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  cursor: pointer;
}

.clients .clients__arrow:hover .clients__arrow-line {
  stroke: #f27935;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.clients .clients__lower {
  padding-top: 230px;
}

.clients .clients__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients .clients__lower--left,
.clients .clients__lower--right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.clients .clients__pic {
  width: 265px;
  height: 265px;
  border-radius: 50%;
  background-color: #f8f8f8;
  margin-bottom: 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.clients .clients__pic--first {
  background: url("../../../images/pages/index-page/clients-section/person-2.jpg");
  background-size: cover;
  background-position-x: -15px;
}

.clients .clients__pic--second {
  background: url("../../../images/pages/index-page/clients-section/person-1.jpg");
  background-size: cover;
  background-position-x: -15px;
}

.clients .clients__name {
  border-bottom: 1px solid #000;
  width: 480px;
  margin-bottom: 35px;
  position: relative;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

.clients .clients__name::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: url("../../../images/pages/index-page/clients-section/q-marks.svg");
  width: 37px;
  height: 33px;
}

.clients .clients__text {
  max-width: 300px;
  text-align: right;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  line-height: 140%;
}

.news {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #f9f9f9;
}

.news .news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .news__side {
  width: 50%;
}

.news .news__title {
  margin-bottom: 200px;
  font-weight: 600;
  font-size: 3.5rem;
  color: #000;
  text-transform: capitalize;
}

.news .news__accordion-tab {
  max-width: 485px;
}

.news .news__accordion-tab-upper {
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
}

.news .news__accordion-title {
  font-weight: 600;
  font-size: 1rem;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.news .news__accordion-tab-upper:hover .news__accordion-title {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.news .news__accordion-tab-upper:hover .news__accordion-btn {
  background-color: #f27935;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  border: none;
}

.news .news__accordion-title {
  text-transform: uppercase;
}

.news .news__accordion-btn {
  padding-left: 2px;
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 50%;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.news .news__accordion-arrow {
  display: block;
}

.news .news__accordion-arrow--active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.news .news__accordion-tab-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.news .news__accordion-tab--slide-down {
  -webkit-animation: slide-down-accordion-tab-lower 0.5s forwards;
          animation: slide-down-accordion-tab-lower 0.5s forwards;
}

@-webkit-keyframes slide-down-accordion-tab-lower {
  0% {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  100% {
    height: 145px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@keyframes slide-down-accordion-tab-lower {
  0% {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  100% {
    height: 145px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.news .news__accordion-tab--slide-up {
  -webkit-animation: slide-up-accordion-tab-lower 0.5s forwards;
          animation: slide-up-accordion-tab-lower 0.5s forwards;
}

@-webkit-keyframes slide-up-accordion-tab-lower {
  0% {
    height: 145px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  100% {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@keyframes slide-up-accordion-tab-lower {
  0% {
    height: 145px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  100% {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.news .news__accordion-link {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.news .news__accordion-link:hover {
  color: #e55c0f;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.news .news__acccordion-text {
  max-width: 400px;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  line-height: 140%;
  height: 66px;
  overflow: hidden;
}

.news .news__side--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.news .news__pic {
  width: 485px;
  height: 505px;
  background: url("../../../images/pages/index-page/news-section/interior-1.jpg") no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=index.css.map */