:root {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  // width: 100vw;
  overflow-x: hidden;
  font-family: $main-font-family, sans-serif; // add default fonts list
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   text-transform: uppercase;
// }

a {
  text-decoration: none;
  outline: none;
  font-family: $main-font-family, sans-serif;
}

::selection {
  background-color: lighten($accent-color, 20%);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
