$accent-color: #f27935;

$primary-font-color: #000;
$secondary-font-color: #fff;

$default-font-size: 16px;

$main-font-family: 'SF Pro Display';

%centering-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}