.brands {
  @include section-popup-onscroll;
}

.brands__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 200px 0;
}

// @media screen and (max-width: 1550px) {
//   .brands__container {
//     padding: 175px 0;
//   }
// }

@media screen and (max-width: 1250px) {
  .brands__container {
    @include pl-pr(40px);
  }
}

// @media screen and (max-width: 1024px) {
//   .brands__container {
//     @include pl-pr(40px)
//   }
// }

@media screen and (max-width: 992px) {
  .brands__container {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 450px) {
  .brands__container {
    padding: 50px 0;
  }
}

@media screen and (max-width: 992px) {
  .brands__item {
    margin: 20px;
  }
}

.brands__item--first {
  width: 150px;
  height: 45px;

  background: url("/images/common-blocks/brands/creative.png") no-repeat;
}

.brands__item--second {
  width: 141px;
  height: 37px;

  background: url("/images/common-blocks/brands/at.png") no-repeat;
}

.brands__item--third {
  width: 104px;
  height: 38px;

  background: url("/images/common-blocks/brands/neuton.png") no-repeat;
}

.brands__item--fourth {
  width: 135px;
  height: 35px;

  background: url("/images/common-blocks/brands/francois.png") no-repeat;
}
