.card {
  // max-width: 600px;
  // min-height: 570px;
  // background-color: lighten($accent-color, 5%);

  position: relative;

  padding: 50px 0 60px 40px;
  // background: url('../../../images/exterior-1.jpg') no-repeat;
  // background-size: cover;

  // transition: .2s all ease;
}

@media screen and (max-width: 450px) {
  .card {
    padding-left: 20px;
  }
}

.card:hover {
  background: none;
  background-color: #fff;
  // outline: 1px solid black;
  z-index: 10;
  // transition: .2s all ease;
}

.card:hover .card__info {
  visibility: visible;
  opacity: 1;
  // transition: .2s all ease;
}

.card__info {
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  // transition: .2s all ease;
  z-index: 10;
}

.card__category {
  position: absolute;
  top: 50px;
  right: 32px;

  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 450px) {
  .card__category {
    font-size: 0.7rem;
  }
}

.card__title {
  border-bottom: 1px solid #000;
  margin-bottom: 55px;

  font-weight: bold;
  font-size: 25px;
  // line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .card__title {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 450px) {
  .card__title {
    font-size: 1.2rem;
  }
}

.card__title:first-line {
  line-height: 30px;
}

.card__text {
  max-width: 330px;
  min-height: 130px;
  margin-left: auto;
  margin-right: 30px;
  text-align: center;

  font-weight: normal;
  font-size: 1rem;
  line-height: 140%;
}

@media screen and (max-width: 450px) {
  .card__text {
    font-size: 0.9rem;
  }
}

.card__link {
  position: absolute;
  bottom: 38px;

  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  color: #000;

  transition: 0.3s transform ease;

  width: 88px;
  height: 88px;
  background-color: $accent-color;
  border-radius: 50%;

  @extend %centering-flex-container;
}

.card__link:hover {
  transform: translateX(5px);
  transition: 0.2s transform ease;
}

.card__link::after {
  content: url(/images/white-right-arrow.png);
  // padding-left: 10px;
}
