:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "SF Pro Display";
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

::-moz-selection {
  background-color: #f8b995;
}

::selection {
  background-color: #f8b995;
}

.header__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 60px 0;
  background-color: transparent;
}

@media screen and (max-width: 1350px) {
  .header__upper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo {
  width: 140px;
  min-height: 40px;
  margin-right: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .header__logo {
    margin-right: auto;
  }
}

.header__logo-architecture {
  display: block;
  margin-top: 2px;
  margin-left: 42px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1350px) {
  .header__menu-item:not(:last-child) {
    margin-right: 25px;
  }
}

.header__menu-item-link {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 14px;
  color: #000;
  font-family: 'SF Pro Display';
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.header__menu-item-link:hover {
  color: #f27935;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header__call-text {
  margin-right: 12px;
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 18px;
  color: #f27935;
}

.header__call-link {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 120px;
  padding-bottom: 110px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-right: 60px;
  padding-left: 60px;
  width: 100%;
}

.footer__rights-span {
  margin-top: 10px;
  display: block;
}

.footer__rights {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__menu-link {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 14px;
  color: #000;
  line-height: 140%;
  font-family: inherit;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.footer__menu-link:hover {
  color: #f27935;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.footer__languages-item {
  text-transform: uppercase;
  cursor: pointer;
}

.footer__languages-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__languages-item:first-child {
  color: #f27935;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.header .header__lower {
  padding-top: 210px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.header .header__title {
  margin-left: 400px;
  font-weight: bold;
  font-size: 57px;
  line-height: 42px;
}

.news .news__nav {
  padding-top: 70px;
  padding-bottom: 55px;
}

.news .news__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .news__menu-item {
  text-transform: capitalize;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.news .news__menu-item:hover {
  color: #f27935;
  cursor: pointer;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.news .news__menu-item:not(:last-child) {
  margin-right: 45px;
}

.news .news__card {
  max-width: 600px;
  min-height: 570px;
}

.news .news__card:hover {
  background-color: #f27935;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.news .news__card:hover .news__card-pic {
  background: none;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.news .news__card:hover .news__card-info {
  visibility: visible;
}

.news .news__card-pic {
  position: relative;
  padding: 50px 0 33px 40px;
  background: url("../../../images/exterior-1.jpg") no-repeat;
  max-width: 600px;
  min-height: 570px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.news .news__card-info {
  background-color: #f27935;
  visibility: hidden;
}

.news .news__category {
  position: absolute;
  top: 50px;
  right: 32px;
}

.news .news__card-title {
  border-bottom: 1px solid #000;
  margin-bottom: 55px;
}

.news .news__card-text {
  max-width: 330px;
  min-height: 130px;
  margin-left: auto;
  margin-right: 30px;
  text-align: center;
}

.news .news__card-link {
  position: absolute;
  bottom: 33px;
}
/*# sourceMappingURL=news.css.map */