:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "SF Pro Display";
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

::-moz-selection {
  background-color: #f8b995;
}

::selection {
  background-color: #f8b995;
}

.header__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 60px 0;
  background-color: transparent;
}

@media screen and (max-width: 1350px) {
  .header__upper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo {
  width: 140px;
  min-height: 40px;
  margin-right: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .header__logo {
    margin-right: auto;
  }
}

.header__logo-architecture {
  display: block;
  margin-top: 2px;
  margin-left: 42px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1350px) {
  .header__menu-item:not(:last-child) {
    margin-right: 25px;
  }
}

.header__menu-item-link {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 14px;
  color: #000;
  font-family: 'SF Pro Display';
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.header__menu-item-link:hover {
  color: #f27935;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header__call-text {
  margin-right: 12px;
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 18px;
  color: #f27935;
}

.header__call-link {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.card {
  position: relative;
  padding: 50px 0 60px 40px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.card:hover {
  background: none;
  background-color: #fff;
  outline: 1px solid black;
}

.card:hover .card__info {
  visibility: visible;
}

.card__info {
  background-color: #fff;
  visibility: hidden;
}

.card__category {
  position: absolute;
  top: 50px;
  right: 32px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.card__title {
  border-bottom: 1px solid #000;
  margin-bottom: 55px;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.card__title:first-line {
  line-height: 30px;
}

.card__text {
  max-width: 330px;
  min-height: 130px;
  margin-left: auto;
  margin-right: 30px;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
}

.card__link {
  position: absolute;
  bottom: 38px;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  color: #000;
  -webkit-transition: .3s transform ease;
  transition: .3s transform ease;
}

.card__link:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: .3s transform ease;
  transition: .3s transform ease;
}

.card__link::after {
  content: url(/images/news/arrow.png);
  padding-left: 10px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__link {
  width: 20px;
  height: 20px;
  display: block;
}

.socials__link:hover {
  opacity: .7;
}

.socials__item:not(:last-child) {
  margin-right: 30px;
}

.socials__link--first {
  background: url("/images/socials/fb.png") no-repeat;
}

.socials__link--second {
  background: url("/images/socials/tw.png") no-repeat 0 2px;
}

.socials__link--third {
  background: url("/images/socials/inst.png") no-repeat;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 120px;
  padding-bottom: 110px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-right: 60px;
  padding-left: 60px;
  width: 100%;
}

.footer__rights-span {
  margin-top: 10px;
  display: block;
}

.footer__rights {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__menu-link {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 14px;
  color: #000;
  line-height: 140%;
  font-family: inherit;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.footer__menu-link:hover {
  color: #f27935;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.footer__languages-item {
  text-transform: uppercase;
  cursor: pointer;
}

.footer__languages-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__languages-item:first-child {
  color: #f27935;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.header .header__lower {
  padding-top: 210px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.header .header__title {
  margin-left: 400px;
  font-weight: bold;
  font-size: 57px;
  line-height: 42px;
}

.news .news__nav {
  padding-top: 70px;
  padding-bottom: 55px;
}

.news .news__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .news__menu-item {
  text-transform: capitalize;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.news .news__menu-item:hover {
  color: #f27935;
  cursor: pointer;
  -webkit-transition: .2s color ease;
  transition: .2s color ease;
}

.news .news__menu-item:not(:last-child) {
  margin-right: 45px;
}

.news .news__lower {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(570px, auto);
  grid-gap: 60px;
}

.news .news__card:first-child {
  background: url("../../../images/news/table.jpg") no-repeat;
  background-size: cover;
}

.news .news__card:nth-child(2) {
  background: url("../../../images/news/facade.jpg") no-repeat;
  background-size: cover;
}

.news .news__card:nth-child(3) {
  background: url("../../../images/news/hall.jpg ") no-repeat;
  background-size: cover;
}

.news .news__card:nth-child(4) {
  background: url("../../../images/news/houses.jpg ") no-repeat;
  background-size: cover;
}

.news .news__card:nth-child(5) {
  background: url("../../../images/news/bed.jpg") no-repeat;
  background-size: cover;
}

.news .news__card:nth-child(6) {
  background: url("../../../images/news/plant.jpg") no-repeat;
  background-size: cover;
}

.news .news__card:nth-child(7) {
  background: url("../../../images/news/yard.jpg") no-repeat;
  background-size: cover;
}

.news .news__card:nth-child(8) {
  background: url("../../../images/news/wood-interior.jpg") no-repeat;
  background-size: cover;
}

.news .news__card:last-child {
  background: url("../../../images/news/bedroom.jpg ") no-repeat;
  background-size: cover;
}

.news .news__card:hover {
  background: none;
  background-color: #f27935;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.news .news__card:hover .card__info {
  visibility: visible;
}

.news .card__info {
  visibility: hidden;
}

.footer {
  border-top: none;
}
/*# sourceMappingURL=news.css.map */