.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: "SF Pro Display", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  line-height: 80%;
}

a {
  text-decoration: none;
  outline: none;
  font-family: "SF Pro Display", sans-serif;
}

::-moz-selection {
  background-color: #f8b995;
}

::selection {
  background-color: #f8b995;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.btn-to-top {
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  border-radius: 50%;
  border: 7px solid #ece9e9;
  opacity: 0.9;
  background: url("/images/common-blocks/btn-to-top/arrow.png") no-repeat;
  background-position: center center;
  cursor: pointer;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  visibility: hidden;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

@media screen and (max-width: 550px) {
  .btn-to-top {
    display: none;
  }
}

.btn-to-top--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.header__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 60px 0;
  background-color: transparent;
}

@media screen and (max-width: 1350px) {
  .header__upper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .header__upper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.header__mobile-btn--open {
  display: none;
}

@media screen and (max-width: 992px) {
  .header__mobile-btn--open {
    background: url("/images/common-blocks/header-upper/burger-white.png") no-repeat;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
    visibility: visible;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
  }
}

.header__mobile-btn--inactive {
  visibility: hidden;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.header__logo {
  width: 140px;
  min-height: 40px;
  margin-right: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .header__logo {
    margin-right: auto;
  }
}

@media screen and (max-width: 992px) {
  .header__logo {
    margin-right: 0;
  }
}

.header__logo-architecture {
  display: block;
  margin-top: 2px;
  margin-left: 42px;
}

@media screen and (max-width: 992px) {
  .header__nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    right: -250px;
    padding: 40px;
    height: 100vh;
    padding-top: 100px;
    z-index: 10;
  }
}

.header__nav--active {
  display: block;
  -webkit-animation: slide-in-mobile-menu 1s forwards ease;
          animation: slide-in-mobile-menu 1s forwards ease;
}

@-webkit-keyframes slide-in-mobile-menu {
  0% {
    right: -250px;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-in-mobile-menu {
  0% {
    right: -250px;
  }
  100% {
    right: 0;
  }
}

.header__nav--inactive {
  -webkit-animation: slide-out-mobile-menu 1s forwards ease;
          animation: slide-out-mobile-menu 1s forwards ease;
}

@-webkit-keyframes slide-out-mobile-menu {
  0% {
    right: 0;
  }
  100% {
    right: -250px;
  }
}

@keyframes slide-out-mobile-menu {
  0% {
    right: 0;
  }
  100% {
    right: -250px;
  }
}

.header__mobile-btn--close {
  display: none;
}

@media screen and (max-width: 992px) {
  .header__mobile-btn--close {
    background: url("/images/common-blocks/header-upper/close.png") no-repeat;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__menu-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1350px) {
  .header__menu-item:not(:last-child) {
    margin-right: 25px;
  }
}

@media screen and (max-width: 992px) {
  .header__menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.header__menu-item-link {
  font-weight: 600;
  font-size: 14px;
  color: #000;
  font-family: "SF Pro Display";
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

@media screen and (max-width: 992px) {
  .header__menu-item-link {
    color: #f27935 !important;
  }
}

.header__menu-item-link:hover {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 992px) {
  .header__call {
    margin-left: none;
    margin-right: auto;
  }
}

@media screen and (max-width: 700px) {
  .header__call {
    display: none;
  }
}

.header__call-text {
  margin-right: 12px;
  font-weight: 600;
  font-size: 18px;
  color: #f27935;
}

.header__call-link {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.card {
  position: relative;
  padding: 50px 0 60px 40px;
}

.card:hover {
  background: none;
  background-color: #fff;
  z-index: 10;
}

.card:hover .card__info {
  visibility: visible;
  opacity: 1;
}

.card__info {
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.card__category {
  position: absolute;
  top: 50px;
  right: 32px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.card__title {
  border-bottom: 1px solid #000;
  margin-bottom: 55px;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.card__title:first-line {
  line-height: 30px;
}

.card__text {
  max-width: 330px;
  min-height: 130px;
  margin-left: auto;
  margin-right: 30px;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
}

.card__link {
  position: absolute;
  bottom: 38px;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  color: #000;
  -webkit-transition: .3s transform ease;
  transition: .3s transform ease;
  width: 88px;
  height: 88px;
  background-color: #f27935;
  border-radius: 50%;
}

.card__link:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: .2s transform ease;
  transition: .2s transform ease;
}

.card__link::after {
  content: url(/images/white-right-arrow.png);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__link {
  width: 20px;
  height: 20px;
  display: block;
}

.socials__link:hover {
  opacity: .7;
}

.socials__item:not(:last-child) {
  margin-right: 30px;
}

.socials__link--first {
  background: url("/images/socials/fb.png") no-repeat;
}

.socials__link--second {
  background: url("/images/socials/tw.png") no-repeat 0 2px;
}

.socials__link--third {
  background: url("/images/socials/inst.png") no-repeat;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 120px 60px 110px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 70px;
    padding-bottom: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer > *:not(:last-child) {
  margin-right: 40px;
  margin-bottom: 40px;
}

.footer__logo {
  display: block;
}

.footer__rights-span {
  margin-top: 10px;
  display: block;
}

.footer__rights {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__menu-link {
  font-weight: normal;
  font-size: 14px;
  color: #000;
  line-height: 140%;
  font-family: inherit;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.footer__menu-link:hover {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

@media screen and (max-width: 450px) {
  .footer__languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__languages-item {
  text-transform: uppercase;
  cursor: pointer;
}

.footer__languages-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
  .footer__languages-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.footer__languages-item:first-child {
  color: #f27935;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.header .header__lower {
  padding-top: 210px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1024px) {
  .header .header__lower {
    padding-top: 100px;
  }
}

@media screen and (max-width: 450px) {
  .header .header__lower {
    padding-top: 50px;
  }
}

.header .header__title {
  margin-left: 400px;
  font-weight: 700;
  font-size: 3.5rem;
  color: #000;
  line-height: 80%;
}

@media screen and (max-width: 1024px) {
  .header .header__title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .header .header__title {
    margin-left: 80px;
  }
}

@media screen and (max-width: 450px) {
  .header .header__title {
    font-size: 1.5rem;
  }
}

.news {
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: 1.7s all ease;
  transition: 1.7s all ease;
}

.news--active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1.7s all ease;
  transition: 1.7s all ease;
}

.news .news__nav {
  padding-top: 70px;
  padding-bottom: 55px;
}

@media screen and (max-width: 1250px) {
  .news .news__nav {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .news .news__nav {
    padding-top: 35px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .news .news__nav {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 600px) {
  .news .news__nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.news .news__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .news__menu-item {
  text-transform: capitalize;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.news .news__menu-item:hover {
  color: #f27935;
  cursor: pointer;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.news .news__menu-item:not(:last-child) {
  margin-right: 45px;
}

.news .news__lower {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(570px, auto);
  grid-gap: 60px;
}

@media screen and (max-width: 1919px) {
  .news .news__lower {
    grid-auto-rows: minmax(500px, auto);
    grid-gap: 40px;
  }
}

@media screen and (max-width: 1350px) {
  .news .news__lower {
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .news .news__lower {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .news .news__lower {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 600px) {
  .news .news__lower {
    grid-gap: 20px;
    grid-auto-rows: minmax(200px, auto);
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .news .news__card {
    padding-top: 30px;
    padding-left: 30px;
  }
}

.news .news__card--first {
  background: url("../../../images/pages/news-page/table.jpg") center center no-repeat;
  background-size: cover;
}

.news .news__card--second {
  background: url("../../../images/pages/news-page/facade.jpg") center center no-repeat;
  background-size: cover;
}

.news .news__card--third {
  background: url("../../../images/pages/news-page/hall.jpg ") center center no-repeat;
  background-size: cover;
}

.news .news__card--fourth {
  background: url("../../../images/pages/news-page/houses.jpg ") center center no-repeat;
  background-size: cover;
}

.news .news__card--fifth {
  background: url("../../../images/pages/news-page/bed.jpg") center center no-repeat;
  background-size: cover;
}

.news .news__card--sixth {
  background: url("../../../images/pages/news-page/plant.jpg") center center no-repeat;
  background-size: cover;
}

.news .news__card--seventh {
  background: url("../../../images/pages/news-page/yard.jpg") center center no-repeat;
  background-size: cover;
}

.news .news__card--eighth {
  background: url("../../../images/pages/news-page/wood-interior.jpg") center center no-repeat;
  background-size: cover;
}

.news .news__card--nineth {
  background: url("../../../images/pages/news-page/bedroom.jpg ") center center no-repeat;
  background-size: cover;
}

.news .news__card:hover {
  background: #f27935;
  background-position: center center;
}

.news .news__card:hover .news__card-info {
  visibility: visible;
  background-color: #f27935;
}

.news .news__card-info {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .news .news__card-title {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 450px) {
  .news .news__card-title {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 450px) {
  .news .news__card-category {
    font-size: 0.7rem;
  }
}

.news .news__card-link {
  background-color: transparent;
  width: 150px;
  height: 30px;
}

@media screen and (max-width: 1350px) {
  .news .news__card-link {
    bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .news .news__card-link {
    bottom: 30px;
    font-size: 1rem;
  }
}

.news .news__card-link::after {
  content: "";
  width: 20px;
  height: 7px;
  margin-left: 15px;
  background: url("../../../images/pages/news-page/arrow-black.png") no-repeat;
}

.footer {
  border-top: none;
}
/*# sourceMappingURL=news.css.map */