.btn-to-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 100;
  width: 75px;
  height: 75px;
  cursor: pointer;
  visibility: hidden;
  background: url('../../images/common.blocks/btn-to-top/arrow.png') no-repeat;
  background-position: center center; // ?
  border: 7px solid #ece9e9;
  border-radius: 50%;
  opacity: 0.9;
  transition: 0.2s all ease;
  transform: translateY(30px);

  @media screen and (max-width: 550px) {
    display: none;
  }
}

.btn-to-top--active {
  visibility: visible;
  transition: 0.2s all ease;
  transform: translateY(0);
}
