.services {
  padding-top: 170px;
  padding-bottom: 165px;
  background-color: #f9f9f9;

  @media screen and (max-width: 1250px) {
    padding-right: 40px;
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    padding-top: 85px;
    padding-right: 0;
    padding-bottom: 85px;
  }
}

.services__wrapper {
  @include section-popup-onscroll;

  display: flex;
}

.services__left {
  width: 50%;
}

.services__title {
  @include font(700, 25px);

  width: 530px;
  text-align: right;
  text-transform: uppercase;
  border-bottom: 1px solid #000;

  @media screen and (max-width: 700px) {
    width: 280px;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.2rem;
  }
}

.services__right {
  width: 50%;

  @media screen and (max-width: 1150px) {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
  }
}

.services__list {
  max-width: 555px;
  margin-right: 20px;
  margin-left: 20px;
}

.services__list-item {
  margin-bottom: 6px;
}

.services__list-item-upper {
  @include flex(space-between, center);

  padding-bottom: 7px;
  cursor: pointer;
  border-bottom: 1px solid #000;
}

.services__list-item-title {
  @include font(600, 1rem);
}

.services__list-item-btn {
  @extend %centering-flex-container;

  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  transition: 0.2s all ease;

  &:hover {
    background-color: $accent-color;
    border: none;
    transition: 0.2s all ease;
  }
}

.services__list-item-btn--active {
  background-color: $accent-color;
  border: none;
  transition: 0.2s all ease;
}

.services__list-item-btn-down-arrow {
  width: 7px;
  height: 7px;
  background-image: url('../../images/common.blocks/services/black-down-arrow.png');
  background-position: center center;
}

.services__list-item-btn-down-arrow--active {
  background-image: url('../../images/common.blocks/services/white-up-arrow.png');
}

.services__list-item-lower {
  @include flex(space-between);

  z-index: -5;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all linear;
}

.services__list-item-lower--active {
  height: 100%;
  padding: 40px 0 40px;
  visibility: visible;
  opacity: 1;
  transition: 0.2s all linear;
}

.services__list-item-link {
  @include font(400, 15px);

  margin-top: auto;
  color: $accent-color;
  transition: 0.3s all ease;
  transform: translateX(0);

  &:hover {
    transition: 0.3s all ease;
    transform: translateX(4px);
  }

  &::after {
    padding-left: 8px;
    content: url('../../images/orange-arrow.png');
  }

  @media screen and (max-width: 520px) {
    &::after {
      display: none;
    }
  }
}

.services__list-item-text {
  @include font(400, 15px);

  max-width: 380px;
  line-height: 140%;
  text-align: left;

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}
